{% extends "bntstn-atlas/bantustan_base.html" %}

{% block title %}
    Bantustan {{ params.bntstn.title }}
{% endblock %}

{% block head %}

    {{ super() }}

    <meta property="og:title" content="{{ 'Uroš Krčadinac → Bantustan ' ~ params.bntstn.title }}">
    <meta property="og:description" content="{{ map.desc }}">
    {% set main_img_path = "space/afroatlas/maps/extras/" ~ params.bntstn.lang ~ "_home.jpg" %}
    <meta property="og:image" content="{{ url_for('static', filename=main_img_path) }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename=main_img_path) }}"/>
    <meta property="og:url"
          content="{{ 'https://krcadinac.com/bantustan-interactive-atlas/' ~ params.bntstn.menu.submenu.home_link }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@krcadinac"/>
    <meta name="twitter:title" content="{{ 'Uroš Krčadinac → Bantustan ' ~ params.bntstn.title }}"/>
    <meta name="twitter:description" content="{{ map.desc }}"/>
    <meta name="twitter:image" content="{{ url_for('static', filename=main_img_path) }}"/>

    <style>

        html, body {
            background-color: black;
        }

        .map-background {
            background-image: url({{ url_for('static', filename='space/afroatlas/maps/afroback.jpg') }});
            background-repeat: repeat-y;
            background-size: 100%;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: black;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #eee;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: white;
        }

        /* Menu Sticker Marker */
        .sticker {
            position: fixed;
            top: 0;
            left: 0;
            width: 8vw;
            z-index: 18;
            cursor: pointer;
        }

        .sticker svg circle {
            fill: transparent;
            stroke: none;
        }

        @media only screen and (max-width: 950px) {

            .map-background {
                background-color: black;
                background-image: url({{ url_for('static', filename='space/afroatlas/maps/afroback_small.jpg') }}) !important;
                background-attachment: scroll;
                width: 100%;
                min-height: 3000%;
                z-index: -1;
            }

            .sticker {
                width: 0;
                display: none;
            }

            .yellower {
                display: none;
            }
        }

    </style>

{% endblock %}

{% block main %}

    {#    <div class="home-header dot-special">#}
    <div class="home-header">

        <svg id="menu-hamburger" class="home-hamburger hamburger" x="0px" y="0px" viewBox="0 0 11 11">
            <rect width="11" height="3"></rect>
            <rect y="8" width="11" height="3"></rect>
            <rect y="4" width="11" height="3"></rect>
        </svg>

        <div class="lang">
            <div id="nas"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.rs }}">Naš</a></div>
            <div id="eng"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.en }}">Eng</a></div>
        </div>

    </div>

    <div class="yellower">
        <svg x="0px" y="0px" viewBox="0 0 100 100">
            <circle cx="0px" cy="0px" r="50"></circle>
        </svg>
    </div>

    <div class="sticker">
        <svg x="0px" y="0px" viewBox="0 0 100 100">
            <circle pointer-events="visible" cx="0px" cy="0px" r="50"></circle>
        </svg>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page1.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page2.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page3.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page4.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page5.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page6.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page7.txt|safe }}</div>
    </div>

    <div class="map-background">
        {# <img src="{{ url_for('static', filename='/space/afroatlas/maps/afroback.jpg') }}"/>#}
    </div>

{% endblock %}

{% block menulang %}
    <div id="nas"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.rs }}">Naš</a></div>
    <div id="eng"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.en }}">Eng</a></div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

        let menuShowThis = menuShow;
        if (mediaQuery.matches) {
            menuShowThis = menuShowMobile;
        }

        let yellowerBase = "0";

        $("#menu-hamburger,.sticker,.all-maps-link").mouseenter((e) => {
            e.stopPropagation();
            {#$(".yellower").css("width", "16vw");#}
            if (menuOff) {
                $(".yellower").animate({
                    width: "16vw"
                }, 150);
            }
        }).mouseleave((e) => {
            e.stopPropagation();
            {#$(".yellower").css("width", yellowerBase);#}
            if (menuOff) {
                $(".yellower").animate({
                    width: yellowerBase
                }, 150);
            }
        }).on(eventRule, menuShowThis);

        let maps = {{ map.map_list|tojson }};
        let mapLink = "{{ params.bntstn.menu.map_link }}";

        $(".random-map-link").on(eventRule, () => {
            let randomId = maps[Math.floor(Math.random() * maps.length)];
            let url = "/bantustan-interactive-atlas/" + mapLink + "/" + randomId.id;
            window.open(url, "_self");
        });

        const topOnBegin = -900;
        let mapBack = $(".map-background");
        let main = $("main");

        mapBack.css({"top": topOnBegin + "px"});

        $(window).scroll(() => {

            let scale = (number, inMin, inMax, outMin, outMax) => {
                return (number - inMin) * (outMax - outMin) / (inMax - inMin) + outMin;
            };

            mapBack.css({
                "top": (topOnBegin - ($(window).scrollTop() * 2)) + "px"
            });

            let scroll = $(window).scrollTop();
            let height = main.height() - $(window).height();

            if (scroll >= height - 100) {
                let n = scroll - (height - 100);
                let b = scale(n, 0, 100, 0, 14);
                console.log(b);
                yellowerBase = b + "vw";
            } else {
                yellowerBase = "0";
            }
            $(".yellower").css("width", yellowerBase);
            {#$(".yellower").animate({width: yellowerBase}, 150);#}
        });

    </script>
{% endblock %}