{% extends "bntstn-atlas/bantustan_base.html" %}

{% block title %}
    Bantustan {{ params.bntstn.title }}
{% endblock %}

{% block head %}

    {{ super() }}

    <style>

        html, body {
            {#background-color: black;#}
        }

        .map-background {
            background-image: url({{ url_for('static', filename='space/afroatlas/maps/afroback.jpg') }});
            background-repeat: repeat-y;
            background-size: 100%;
         }

        @media only screen and (max-width: 950px) {
            .map-background {
                background-image: url({{ url_for('static', filename='space/afroatlas/maps/afroback_smaller.jpg') }}) !important;
                background-attachment: scroll;
                width: 100%;
                min-height: 1000%;
                z-index: -1;
                {#background-size: 100% 100%;#}
            }
         }

        /* width */
        ::-webkit-scrollbar {
            width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: black;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #eee;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: white;
        }

    </style>

{% endblock %}

{% block main %}

    <div class="home-header">

        <svg id="menu-hamburger" class="home-hamburger hamburger" x="0px" y="0px" viewBox="0 0 11 11">
            <rect width="11" height="3"></rect>
            <rect y="8" width="11" height="3"></rect>
            <rect y="4" width="11" height="3"></rect>
        </svg>

        <div class="lang">
            <div id="nas"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.rs }}">Naš</a></div>
            <div id="eng"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.en }}">Eng</a></div>
        </div>

    </div>

    <div class="home-content">
        <div class="inner">{{ map.page1.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page2.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page4.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page5.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page6.txt|safe }}</div>
    </div>

    <div class="home-content">
        <div class="inner">{{ map.page7.txt|safe }}</div>
    </div>

    <div class="map-background">
{#        <img src="{{ url_for('static', filename='/space/afroatlas/maps/afroback.jpg') }}"/>#}
    </div>

{% endblock %}

{% block menulang %}
    <div id="nas"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.rs }}">Naš</a></div>
    <div id="eng"><a href="{{ '/bantustan-interactive-atlas/' ~ map.identity.en }}">Eng</a></div>
{% endblock %}

{% block js %}
    <script type="text/javascript">

        const mediaQuery = window.matchMedia('(max-width: 950px)');

        const topOnBegin = -900;
        let mapBack = $(".map-background");

        mapBack.css({"top": topOnBegin + "px"});

        $(window).scroll(function() {
            mapBack.css({
                "top": (topOnBegin - ($(window).scrollTop() * 2)) + "px"
            });
         });

    </script>
{% endblock %}