{% extends "bntstn-atlas/bantustan_base.html" %}

{% block title %}

    {% set sbttl = map.title.name if map.title.chapter == "other" else params.bntstn.h3_chapter.part1 ~ map.title.chapter ~ params.bntstn.h3_chapter.part2 ~ ": " ~ map.title.name %}
    Bantustan {{ params.bntstn.title ~ " → " ~ sbttl }}

{% endblock %}

{% block head %}

    {{ super() }}

    {% set main_img_path = "space/afroatlas/maps/small/" ~ params.bntstn.lang ~ "_" ~ map.id ~ ".jpg" %}
    {% set main_title = 'Uroš Krčadinac → ' ~ map.title.name ~ ', ' ~ params.bntstn.menu.map_link ~ ' (Bantustan ' ~ params.bntstn.title ~ ')' %}
    {% set main_description = map.lead|striptags %}
    {% set main_url = 'https://krcadinac.com/bantustan-interactive-atlas/' ~ params.bntstn.menu.map_link  ~ '/' ~  map.id %}

    <meta property="og:title" content="{{ main_title }}">
    <meta property="og:description" content="{{ main_description }}">
    <meta property="og:image" content="{{ url_for('static', filename=main_img_path) }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename=main_img_path) }}"/>
    <meta property="og:url" content="{{ main_url }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@krcadinac"/>
    <meta name="twitter:title" content="{{ main_title }}"/>
    <meta name="twitter:description" content="{{ main_description }}"/>
    <meta name="twitter:image" content="{{ url_for('static', filename=main_img_path) }}"/>

    <style>

        html, body {
            overflow: hidden !important;
        }

        .mobile-info-panel {
            display: none;
        }

        @media only screen and (max-width: 950px) {

            .mobile-info-panel {
                display: none;
                position: absolute;
                top: 48px;
                left: 0;
                min-height: calc(100vh - 35px);
                width: 100vw;
                background-color: black;
                color: white;
                z-index: 45;
                box-sizing: border-box;
                padding: 0 30px;
                align-self: center;
                overflow-y: visible;
            }

            .mobile-info-panel .centering {
                display: flex;
                height: calc(100vh - 81px);
                align-items: center;
            }

            .mobile-info-panel .centering .inner {
                padding-bottom: 50px;
            }

            .mobile-info-panel .language {
                position: relative;
                margin: 0 0 20px 0;
                text-align: center;
            }

            .mobile-info-panel .language a {
                font-family: "MonumentExtended-Ultrabold", sans-serif;
                font-size: 13px;
                font-weight: normal;
                text-transform: uppercase;
                text-decoration: none;
                margin-right: 0;
                padding: 0 10px;
                cursor: pointer;
                color: var(--main);
            }

            .mobile-info-panel .language div a:hover {
                color: white;
                text-decoration: none;
            }


            .mobile-info-panel h2 {
                font-family: "MonumentExtended-Regular", sans-serif;
                font-size: 26px;
                line-height: 1.3;
                margin: 10px 0 20px 0;
            }

            .mobile-info-panel h3,
            .mobile-info-panel h4,
            .mobile-info-panel p {
                font-size: 14px;
            }

            .mobile-info-panel h3 {
                margin: 10px 0 6px 0;
            }

            .mobile-info-panel h4 {
                margin: 0 0 10px 0;
            }

            .mobile-info-panel #africa-map {
                position: relative;
                width: 50vw;
                margin: 9px 0 18px 0;
            }

            .mobile-info-panel h4 a {
                color: white;
                border-bottom: 1px solid darkgray;
                text-decoration: none;
            }

            .mobile-info-panel h4 a:hover {
                border-bottom: 1px solid white;
                text-decoration: none;
            }

        }

    </style>

    <script src="{{ url_for('static', filename='space/afroatlas/afroatlas.js') }}"></script>

{% endblock %}

{% block main %}

    <div class="yellower">
        <svg x="0px" y="0px" viewBox="0 0 100 100">
            <circle cx="0px" cy="0px" r="50"></circle>
        </svg>
    </div>

    <aside id="aside-main" class="side-content no-select">

        <div id="top">
            <svg id="menu-hamburger" class="hamburger" x="0px" y="0px" viewBox="0 0 11 11">
                <rect width="11" height="3"></rect>
                <rect y="8" width="11" height="3"></rect>
                <rect y="4" width="11" height="3"></rect>
            </svg>

            {% set mobile_subtitle = map.title.name if map.title.chapter == "other" else map.title.chapter ~ " " ~ map.title.name %}
            <h1><a href="/bantustan-interactive-atlas/{{ params.bntstn.menu.submenu.home_link }}">Bantustan<span
                    class="mobile"> — {{ mobile_subtitle }}</span><span
                    class="desktop"><br>{{ params.bntstn.title }}</span></a>
            </h1>

            <svg id="mobile-info-svg" class="hamburger" x="0px" y="0px" viewBox="0 0 11 11">
                <rect x="1.5" y="4.4" width="5.5" height="2.2"></rect>
                <rect x="1.5" y="8.8" width="8" height="2.2"></rect>
                <rect x="4" y="5.3" width="3" height="3.6"></rect>
                <circle cx="5.5" cy="2.1" r="2"></circle>
            </svg>
        </div>

        <div id="middle">
            {% set up_h3 = params.bntstn.menu.others if map.title.chapter == "other" else params.bntstn.h3_chapter.part1 ~ map.title.chapter ~ params.bntstn.h3_chapter.part2 %}
            <h3>{{ up_h3 }}</h3>
            <h2>{{ map.title.name }}</h2>
            <h4>{{ map.lead|safe }}</h4>

            <svg id="africa-map" x="0px" y="0px" viewBox="0 0 187 228">
                {% if map.legend is defined %}
                    <g id="africa-map-legend">
                        <rect fill="#FFFFFF" x="{{ map.legend.x }}" y="{{ map.legend.y }}"
                              width="{{ map.legend.w }}" height="{{ map.legend.h }}"></rect>
                    </g>
                {% endif %}
                <g id="africa-map-base">
                    <path id="africa-outline" fill="none" stroke="#FFFFFF" stroke-linejoin="bevel"
                          stroke-miterlimit="10" d="M74.6,33.5l-4.2,1.1l-1.1-0.6l-0.4,0.4
		l-1.7-0.6l-0.4,0.4l-20.5,3.3l-0.6-0.4l-5-0.2l-0.6-1.1l-1,0.2L27.4,47.1L27.2,51L8.6,68.2l-1.1,2.3l-0.6,0.2L5.8,74h0.4l0.6,1.3
		h0.4l0.4,1l-0.8,2.3l0.8,1.7L2.9,91.6l2.3,3.8L4,94.9l-0.4,3.1l1.9,2.1l2.3-0.6l-1.3,0.8v1.1l0.8,0.4v1l0.8-0.6l4,7.9l0.6,0.4v0.6
		l4,3.1l0.2,0.6l9.2,6.1l10.5-2.5l4.2,1.1l6.9-2.9l1.1,0.2l0.8-0.8l8.6-0.8l2.7,2.7v1.7l1.1,1.1h0.8l0.2,0.4l1.5-0.4l0.8-0.8
		l2.9,0.4l0.2-1h0.4l0.4,0.8l0.8,0.2l0.4,1.1l1,0.4l0.8-0.2v1l0.8,1.1l-1.7,5.6l0.8,0.4l-0.2,1.1l-0.8,1.3l-0.2,1.7l-1.1,0.8
		l9.8,14.8l1.9-0.4l-2.3,0.8l2.9,6.9l-0.6,0.8l1.3,8.4l-1,1.3l-1.9,1.5l-2.1,9l-0.2-0.2l1.1,5l0.4,0.2l15.3,36l-0.4,0.6l-0.6-0.2
		l-0.2,0.6l1.5,2.3l-0.2,1.3h0.2l0.4-0.4h0.6v0.8h1l0.2,0.4l1,0.4l1.1-0.2l0.4-0.4l3.4-0.2l0.2-0.4h6.7l0.4-0.6l1.7,0.2l0.2-1h2.3
		l14.8-13.6l1.9-5.7l-0.4,0.4l-0.6-0.8l7.5-4.4l1.3-5.4h-0.4l-1.1-6.1l3.8-3.4l0.2,0.4h0.4l1.1-1.1l-0.2-0.4l0.8-0.2l0.2-0.6
		l7.7-3.6l0.2-0.8l2.3-1.9l0.2-0.8l-0.2-0.2l1-1.3v-0.4l-0.2-0.2l0.2-0.4h-0.2l0.8-10l-0.4-0.6l-0.6-0.2l-0.6-1v-1.1l-0.4-0.4v-6.1
		l0.4-0.4l-0.2-0.8l-1.5-1.3l-0.2-0.8l1.3-3.8l0.8-0.4l2.5-5.2l1.1-0.6l0.6-1.1l1-0.2l3.3-4.4h-0.2l16.5-18.8l0,0l3.8-10.7l0.8-0.2
		l-0.4-0.2l-0.4-3.4l-1.1-0.6l-1.5,1.5l-3.8,1l-0.8,1.3v-1L173,102l-1.7,1.7l-4-1.3l-1.9,1.3l-2.1-0.4l-2.5-2.5h-1.7l1.9-1.9
		l-6.7-6.9l-0.8-0.2l-0.2-0.4l-1.1-0.2l-1-1.3L151,91l-3.6-7.9L147,83l-0.2-0.4l-2.7-1.3l-1.5-6.5l-0.8-0.8l-0.4-1.5l-2.7-1.9
		l-1.1-2.7h0.6l-11.9-19.4h-2.1l-0.2,0.4l-0.6-0.2l-2.5,1.3L110,48.9l-0.4-0.6l-4.6-1l-0.2-0.8l-3.6-0.8l-3.4,2.1l0.4,2.5l-2.3,2.1
		l-9.2-3.6l-0.4-1.1l-9.8-2.5l-0.4-1l-1-0.2l-1.3-1.1l3.6-4l-0.2-0.8l-0.8-0.8l-0.2-1.1l1.5-1.5l-0.2-0.4l-1.3,0.8l-0.4-1L74.6,33.5
		L74.6,33.5L74.6,33.5z"></path>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		101,4.7 111.2,13.9 124.9,18.6 132,19.6 142.4,31 143.7,33.5 146.2,34.3 142.2,46.9 138.5,55.7 135.9,53.9 130.6,50.6 127.8,50.9
		125.4,51.6 124.5,54 131.3,66.3 132,72.4 128.3,76.8 127.6,81.6 132.3,84.7 135.7,86 133,92.5 	"></polyline>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		146.3,134.8 143.6,134.9 140,132.8 135.6,130.8 131.7,129.1 128.6,132 127.6,137.4 122.8,134.4 127.6,137.1 122.5,140.8
		127.6,137.1 131,140.8 138.1,142.9 140,145.9 145.3,150.4 152,149.7 140,151 134.9,154.4 131.3,161.1 126.6,166 122.5,168.1
		121.4,172.8 116.9,175 115.3,177.3 108.2,178.1 99.7,179.6 91.5,184.7 92.2,192.1 85.9,194.1 82.9,192.1 81.9,189.6 	"></polyline>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		92.2,192.1 93,198 97.8,198 	"></polyline>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		144.4,135.4 146.5,137.8 155,142.3 152.8,143.6 146,143.6 147.5,147.1 152,149.7 	"></polyline>
                    <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          x1="132.7" y1="93" x2="132.7" y2="93"></line>
                    <polyline fill="none" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" stroke-dasharray="0,3.8503" points="
			135.1,96 141.9,104.1 147,116.5 148.1,127.1 147.4,132.8 		"></polyline>
                    <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          x1="147.1" y1="134.7" x2="147.1" y2="134.7"></line>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"
                              stroke-miterlimit="10" points="
	134.7,154.5 130.9,152 126.9,152.7 128.6,157.8 125.6,165.6 "></polyline>
                </g>
            </svg>

        </div>

    </aside>

    <div class="mobile-info-panel">

        <div class="language">
            <a href="{{ '/bantustan-interactive-atlas/mapa/' ~ map.id }}">Naš</a>
            <a href="{{ '/bantustan-interactive-atlas/map/' ~ map.id }}">Eng</a>
        </div>

        <div class="centering">
            <div class="inner">

                {% set up_h3 = params.bntstn.menu.others if map.title.chapter == "other" else params.bntstn.h3_chapter.part1 ~ map.title.chapter ~ params.bntstn.h3_chapter.part2 %}
                <h3>{{ up_h3 }}</h3>
                <h2>{{ map.title.name }}</h2>
                <h4>{{ map.lead|safe }}</h4>

                <svg id="africa-map" x="0px" y="0px" viewBox="0 0 187 228">
                    {% if map.legend is defined %}
                        <g id="africa-map-legend">
                            <rect fill="#FFFFFF" x="{{ map.legend.x }}" y="{{ map.legend.y }}"
                                  width="{{ map.legend.w }}" height="{{ map.legend.h }}"></rect>
                        </g>
                    {% endif %}
                    <g id="africa-map-base">
                        <path id="africa-outline" fill="none" stroke="#FFFFFF" stroke-linejoin="bevel"
                              stroke-miterlimit="10" d="M74.6,33.5l-4.2,1.1l-1.1-0.6l-0.4,0.4
		l-1.7-0.6l-0.4,0.4l-20.5,3.3l-0.6-0.4l-5-0.2l-0.6-1.1l-1,0.2L27.4,47.1L27.2,51L8.6,68.2l-1.1,2.3l-0.6,0.2L5.8,74h0.4l0.6,1.3
		h0.4l0.4,1l-0.8,2.3l0.8,1.7L2.9,91.6l2.3,3.8L4,94.9l-0.4,3.1l1.9,2.1l2.3-0.6l-1.3,0.8v1.1l0.8,0.4v1l0.8-0.6l4,7.9l0.6,0.4v0.6
		l4,3.1l0.2,0.6l9.2,6.1l10.5-2.5l4.2,1.1l6.9-2.9l1.1,0.2l0.8-0.8l8.6-0.8l2.7,2.7v1.7l1.1,1.1h0.8l0.2,0.4l1.5-0.4l0.8-0.8
		l2.9,0.4l0.2-1h0.4l0.4,0.8l0.8,0.2l0.4,1.1l1,0.4l0.8-0.2v1l0.8,1.1l-1.7,5.6l0.8,0.4l-0.2,1.1l-0.8,1.3l-0.2,1.7l-1.1,0.8
		l9.8,14.8l1.9-0.4l-2.3,0.8l2.9,6.9l-0.6,0.8l1.3,8.4l-1,1.3l-1.9,1.5l-2.1,9l-0.2-0.2l1.1,5l0.4,0.2l15.3,36l-0.4,0.6l-0.6-0.2
		l-0.2,0.6l1.5,2.3l-0.2,1.3h0.2l0.4-0.4h0.6v0.8h1l0.2,0.4l1,0.4l1.1-0.2l0.4-0.4l3.4-0.2l0.2-0.4h6.7l0.4-0.6l1.7,0.2l0.2-1h2.3
		l14.8-13.6l1.9-5.7l-0.4,0.4l-0.6-0.8l7.5-4.4l1.3-5.4h-0.4l-1.1-6.1l3.8-3.4l0.2,0.4h0.4l1.1-1.1l-0.2-0.4l0.8-0.2l0.2-0.6
		l7.7-3.6l0.2-0.8l2.3-1.9l0.2-0.8l-0.2-0.2l1-1.3v-0.4l-0.2-0.2l0.2-0.4h-0.2l0.8-10l-0.4-0.6l-0.6-0.2l-0.6-1v-1.1l-0.4-0.4v-6.1
		l0.4-0.4l-0.2-0.8l-1.5-1.3l-0.2-0.8l1.3-3.8l0.8-0.4l2.5-5.2l1.1-0.6l0.6-1.1l1-0.2l3.3-4.4h-0.2l16.5-18.8l0,0l3.8-10.7l0.8-0.2
		l-0.4-0.2l-0.4-3.4l-1.1-0.6l-1.5,1.5l-3.8,1l-0.8,1.3v-1L173,102l-1.7,1.7l-4-1.3l-1.9,1.3l-2.1-0.4l-2.5-2.5h-1.7l1.9-1.9
		l-6.7-6.9l-0.8-0.2l-0.2-0.4l-1.1-0.2l-1-1.3L151,91l-3.6-7.9L147,83l-0.2-0.4l-2.7-1.3l-1.5-6.5l-0.8-0.8l-0.4-1.5l-2.7-1.9
		l-1.1-2.7h0.6l-11.9-19.4h-2.1l-0.2,0.4l-0.6-0.2l-2.5,1.3L110,48.9l-0.4-0.6l-4.6-1l-0.2-0.8l-3.6-0.8l-3.4,2.1l0.4,2.5l-2.3,2.1
		l-9.2-3.6l-0.4-1.1l-9.8-2.5l-0.4-1l-1-0.2l-1.3-1.1l3.6-4l-0.2-0.8l-0.8-0.8l-0.2-1.1l1.5-1.5l-0.2-0.4l-1.3,0.8l-0.4-1L74.6,33.5
		L74.6,33.5L74.6,33.5z"></path>
                        <polyline fill="none" stroke-width="2" stroke-linecap="square"
                                  stroke-linejoin="round" stroke-miterlimit="10" points="
		101,4.7 111.2,13.9 124.9,18.6 132,19.6 142.4,31 143.7,33.5 146.2,34.3 142.2,46.9 138.5,55.7 135.9,53.9 130.6,50.6 127.8,50.9
		125.4,51.6 124.5,54 131.3,66.3 132,72.4 128.3,76.8 127.6,81.6 132.3,84.7 135.7,86 133,92.5 	"></polyline>
                        <polyline fill="none" stroke-width="2" stroke-linecap="square"
                                  stroke-linejoin="round" stroke-miterlimit="10" points="
		146.3,134.8 143.6,134.9 140,132.8 135.6,130.8 131.7,129.1 128.6,132 127.6,137.4 122.8,134.4 127.6,137.1 122.5,140.8
		127.6,137.1 131,140.8 138.1,142.9 140,145.9 145.3,150.4 152,149.7 140,151 134.9,154.4 131.3,161.1 126.6,166 122.5,168.1
		121.4,172.8 116.9,175 115.3,177.3 108.2,178.1 99.7,179.6 91.5,184.7 92.2,192.1 85.9,194.1 82.9,192.1 81.9,189.6 	"></polyline>
                        <polyline fill="none" stroke-width="2" stroke-linecap="square"
                                  stroke-linejoin="round" stroke-miterlimit="10" points="
		92.2,192.1 93,198 97.8,198 	"></polyline>
                        <polyline fill="none" stroke-width="2" stroke-linecap="square"
                                  stroke-linejoin="round" stroke-miterlimit="10" points="
		144.4,135.4 146.5,137.8 155,142.3 152.8,143.6 146,143.6 147.5,147.1 152,149.7 	"></polyline>
                        <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              x1="132.7" y1="93" x2="132.7" y2="93"></line>
                        <polyline fill="none" stroke-width="2" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-dasharray="0,3.8503" points="
			135.1,96 141.9,104.1 147,116.5 148.1,127.1 147.4,132.8 		"></polyline>
                        <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                              x1="147.1" y1="134.7" x2="147.1" y2="134.7"></line>
                        <polyline fill="none" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"
                                  stroke-miterlimit="10" points="
	134.7,154.5 130.9,152 126.9,152.7 128.6,157.8 125.6,165.6 "></polyline>
                    </g>
                </svg>

                <h4>{{ params.bntstn.footer_txt|safe }}</h4>
                <h4><a href="https://krcadinac.com" target="_blank">Uroš Krčadinac</a>, 2015—2022.</h4>
            </div>
        </div>
    </div>

    <div class="lang no-select">
        <div id="nas"><a href="{{ '/bantustan-interactive-atlas/mapa/' ~ map.id }}">Naš</a></div>
        <div id="eng"><a href="{{ '/bantustan-interactive-atlas/map/' ~ map.id }}">Eng</a></div>
    </div>

    {% set v = map.vertical is defined and map.vertical == True %}
    {% set transMat = "(0.1239 0 0 0.1239 285.1105 25.1702)" if v else "(0.1736 0 0 0.1736 35.077 29.5)" %}

    <svg id="main-map" x="0px" y="0px" viewBox="0 0 1076 768" xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink">

        <image id="map-image"
               xlink:href="{{ url_for('static', filename='space/afroatlas/maps/' ~ params.bntstn.lang ~ '_' ~ map.id ~ '.jpg') }}"
               transform="matrix{{ transMat }}"></image>

        {% for ch in map.chapters %}
            <circle class="chapter vertical-{{ map.vertical }}"
                    onclick="chapterOnClick('{{ ch.page }}', '{{ ch.id }}');"
                    ontouchend="chapterOnClick('{{ ch.page }}', '{{ ch.id }}');"
                    pointer-events="visible" cx="{{ ch.x }}" cy="{{ ch.y }}">
                <title>{{ params.bntstn.chapter_tooltip.part1 ~ ch.id ~ params.bntstn.chapter_tooltip.part2 ~ map.title.chapter }}</title>
            </circle>
        {% endfor %}

        {% for nt in map.notes %}
            <circle class="mark" onclick="noteOnClick('{{ nt.txt }}');" ontouchend="noteOnClick('{{ nt.txt }}');"
                    cx="{{ nt.x }}" cy="{{ nt.y }}" r="6">
                <title>{{ params.bntstn.note_tooltip }}</title>
            </circle>
        {% endfor %}

    </svg>

    <div class="controls">

        <svg id="eye" x="0px" y="0px" viewBox="0 -2 20 15" xml:space="preserve">
            <g id="eye-open">
                <path stroke-linecap="round" stroke-miterlimit="10"
                      d="M17,4.8c0,0-3.1,3.9-7,3.9S3,4.8,3,4.8s3.1-3.9,7-3.9S17,4.8,17,4.8z"></path>
                <circle cx="10" cy="4.8" r="2"></circle>
            </g>
            <path id="eye-closed" stroke-miterlimit="10"
                  d="M17,4.8c0,0-3.1,3.9-7,3.9S3,4.8,3,4.8 M10,8.4v2.3 M16,6l1.2,1.3M13.1,7.9l1.2,2 M2.8,7.3L4,6 M5.7,9.9l1.2-2"></path>
        </svg>

        <svg id="zoom-in" x="0px" y="0px" viewBox="0 0 11 11">
            <rect x="4" width="3" height="11"></rect>
            <rect y="4" width="11" height="3"></rect>
        </svg>

        <svg id="zoom-out" x="0px" y="0px" viewBox="0 0 11 11">
            <rect y="4" width="11" height="3"></rect>
        </svg>

    </div>

    <footer class="side-content no-select">
        <p id="footer-description" class="desktop">{{ params.bntstn.footer_txt|safe }}</p>
        <p id="footer-signature"><a href="https://krcadinac.com" target="_blank">Uroš Krčadinac</a>, 2015—2022.</p>
    </footer>

    <div class="note">
        <svg id="note-x" x="0px" y="0px" viewBox="0 0 13.4 13.4">
            <path d="M0.1,10.6L4,6.8L0.1,3l2.8-2.8L6.8,4l3.8-3.8l2.6,2.6L9.3,6.6l3.8,3.8l-2.8,2.8L6.5,9.4l-3.8,3.8L0.1,10.6z"></path>
        </svg>
        <div class="note-text">
        </div>
    </div>

{% endblock %}

{% block menulang %}
    <div id="nas"><a href="{{ '/bantustan-interactive-atlas/mapa/' ~ map.id }}">Naš</a></div>
    <div id="eng"><a href="{{ '/bantustan-interactive-atlas/map/' ~ map.id }}">Eng</a></div>
{% endblock %}

{% block js %}

    <script type="text/javascript">

        const uberClick = "click tap touchstart touchend";
        const simpleClick = "click tap";

        if ("{{ map.color is defined }}" === "True") {
            $("#main-map").css("background-color", "#1a1a1a");
        }

        if ("{{ map.title.long is defined }}" === "True") {
            $("h2").css("font-size", "1.67vw");
        }

        $("#map-image,aside,footer,.controls,.lang").on(uberClick, (e) => {
            $(".note").css({"visibility": "hidden"});
        });

        $("#eye").on(simpleClick, (e) => {
            $("#eye-closed").toggle();
            $("#eye-open").toggle();
            $(".mark,.chapter").toggle();
        });

        /* Mobile Info Panel */

        if (mediaQuery.matches) {

            $("#mobile-info-svg").on(eventRule, (e) => {
                $(".mobile-info-panel").toggle();
            });
        }

        /* Note Clicking */

        let noteOnClick = (txt) => {
            let note = $(".note"),
                noteTxtCont = $(".note-text");
            note.css({"visibility": "hidden"});
            noteTxtCont.html(txt);
            let noteH = noteTxtCont.height();
            note.height(noteH + 16);
            note.css({"visibility": "visible"});
        }

        $("#note-x").on('click tap touchstart touchend', () => {
            $(".note").css({"visibility": "hidden"});
        });

        let chapterOnClick = (page, title) => {
            const url = "/download/books/Bantustan.pdf#page=" + page;
            window.open(url, '_blank');
        }

        let language = "{{ params.bntstn.lang }}";

        if (language === 'e') {
            chapterOnClick = (page, title) => {
                const txt = "<p>Interactive reading of the book is available only for the Serbocroatian edition, which is published as a free open source e-book. The English edition is available globally on <a href='https://www.amazon.com/Bantustan-African-Journey-Lazar-Pascanovic/dp/B093B4M61M/' target='_blank'>Amazon</a>.</p><p>If you wish to read the story " + title + " in Serbian/Croatian/Bosnian/Montenegrin, you are welcome to automatically open the <a href='/download/books/Bantustan.pdf#page=" + page + "' target='_blank'>page " + page + " of the Serbocroatian Bantustan PDF</a>.";
                noteOnClick(txt);
            }
        } else if (mediaQuery.matches) {
            chapterOnClick = (page, title) => {
                const txt = "<p>Ukoliko želite da pročitate priču " + title + ", možete automatski otvoriti <a href='/download/books/Bantustan.pdf#page=" + page + "' target='_blank'>PDF knjige na stranicu " + page + "</a>.</p><p>Za kvalitetnije iskustvo interaktivnog čitanja, preporučujemo vam da ovaj vebsajt otvorite u desktop brauzeru. Domaće elektronsko izdanje <em>Bantustana</em> je otvoreno licencirano i besplatno. Englesko je globalno dostupno na <a href='https://www.amazon.com/Bantustan-African-Journey-Lazar-Pascanovic/dp/B093B4M61M/' target='_blank'>Amazonu</a>.";
                noteOnClick(txt);
            }
        }
0
    </script>

{% endblock %}