<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <style>

        {# Monument Extended #}

        @font-face {
            font-family: "MonumentExtended-Regular";
            src: url({{ url_for('static', filename='media/fonts/monument/MonumentExtended-Regular.woff2') }}) format('woff2');
        }

        @font-face {
            font-family: "MonumentExtended-Ultrabold";
            src: url({{ url_for('static', filename='media/fonts/monument/MonumentExtended-Ultrabold.woff2') }}) format('woff2');
        }

        {# TT Norms Pro #}

        @font-face {
            font-family: "TTNorms-Regular";
            src: url({{ url_for('static', filename='media/fonts/ttnorms/TTNorms-Regular.woff2') }}) format('woff2');
        }

        @font-face {
            font-family: "TTNorms-Medium";
            src: url({{ url_for('static', filename='media/fonts/ttnorms/TTNorms-Medium.woff2') }}) format('woff2');
        }

        @font-face {
            font-family: "TTNorms-Italic";
            src: url({{ url_for('static', filename='media/fonts/ttnorms/TTNorms-Regular.woff2') }}) format('woff2');
        }

        @font-face {
            font-family: "TTNorms-Bold";
            src: url({{ url_for('static', filename='media/fonts/ttnorms/TTNorms-Bold.woff2') }}) format('woff2');
        }

    </style>

    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static', filename='space/afroatlas/maps/afrovicon.ico') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='space/afroatlas/afroatlas.css') }}">

    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/svg-pan-zoom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/hammer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='space/afroatlas/afroatlas.js') }}"></script>

    <title>Bantustan {{ params.bntstn.title ~ " → " ~ params.bntstn.h3_chapter.part1 ~ map.title.chapter ~ params.bntstn.h3_chapter.part2 ~ " " ~ map.title.name }}</title>

</head>
<body>

<main>

    <aside id="aside-main" class="side-content">

        <div id="top">
            <svg id="menu" x="0px" y="0px" viewBox="0 0 11 11">
                <rect width="11" height="3"></rect>
                <rect y="8" width="11" height="3"></rect>
                <rect y="4" width="11" height="3"></rect>
            </svg>
            <h1>Bantustan<span class="mobile"> — {{ map.title.chapter }} {{ map.title.name }}</span><span class="desktop"><br>{{ params.bntstn.title}}</span>
            </h1>
        </div>

        <div id="middle">
            <h3>{{ params.bntstn.h3_chapter.part1 ~ map.title.chapter ~ params.bntstn.h3_chapter.part2 }}</h3>
            <h2>{{ map.title.name }}</h2>
            <h4>{{ map.lead|safe }}</h4>

            <svg id="africa-map" x="0px" y="0px" viewBox="0 0 187 228">
                <g id="africa-map-legend">
                    <rect x="122.8" y="148.6" fill="#FFFFFF" width="16.7" height="11.4"></rect>
                </g>
                <g id="africa-map-base">
                    <path id="africa-outline" fill="none" stroke="#FFFFFF" stroke-linejoin="bevel"
                          stroke-miterlimit="10" d="M74.6,33.5l-4.2,1.1l-1.1-0.6l-0.4,0.4
		l-1.7-0.6l-0.4,0.4l-20.5,3.3l-0.6-0.4l-5-0.2l-0.6-1.1l-1,0.2L27.4,47.1L27.2,51L8.6,68.2l-1.1,2.3l-0.6,0.2L5.8,74h0.4l0.6,1.3
		h0.4l0.4,1l-0.8,2.3l0.8,1.7L2.9,91.6l2.3,3.8L4,94.9l-0.4,3.1l1.9,2.1l2.3-0.6l-1.3,0.8v1.1l0.8,0.4v1l0.8-0.6l4,7.9l0.6,0.4v0.6
		l4,3.1l0.2,0.6l9.2,6.1l10.5-2.5l4.2,1.1l6.9-2.9l1.1,0.2l0.8-0.8l8.6-0.8l2.7,2.7v1.7l1.1,1.1h0.8l0.2,0.4l1.5-0.4l0.8-0.8
		l2.9,0.4l0.2-1h0.4l0.4,0.8l0.8,0.2l0.4,1.1l1,0.4l0.8-0.2v1l0.8,1.1l-1.7,5.6l0.8,0.4l-0.2,1.1l-0.8,1.3l-0.2,1.7l-1.1,0.8
		l9.8,14.8l1.9-0.4l-2.3,0.8l2.9,6.9l-0.6,0.8l1.3,8.4l-1,1.3l-1.9,1.5l-2.1,9l-0.2-0.2l1.1,5l0.4,0.2l15.3,36l-0.4,0.6l-0.6-0.2
		l-0.2,0.6l1.5,2.3l-0.2,1.3h0.2l0.4-0.4h0.6v0.8h1l0.2,0.4l1,0.4l1.1-0.2l0.4-0.4l3.4-0.2l0.2-0.4h6.7l0.4-0.6l1.7,0.2l0.2-1h2.3
		l14.8-13.6l1.9-5.7l-0.4,0.4l-0.6-0.8l7.5-4.4l1.3-5.4h-0.4l-1.1-6.1l3.8-3.4l0.2,0.4h0.4l1.1-1.1l-0.2-0.4l0.8-0.2l0.2-0.6
		l7.7-3.6l0.2-0.8l2.3-1.9l0.2-0.8l-0.2-0.2l1-1.3v-0.4l-0.2-0.2l0.2-0.4h-0.2l0.8-10l-0.4-0.6l-0.6-0.2l-0.6-1v-1.1l-0.4-0.4v-6.1
		l0.4-0.4l-0.2-0.8l-1.5-1.3l-0.2-0.8l1.3-3.8l0.8-0.4l2.5-5.2l1.1-0.6l0.6-1.1l1-0.2l3.3-4.4h-0.2l16.5-18.8l0,0l3.8-10.7l0.8-0.2
		l-0.4-0.2l-0.4-3.4l-1.1-0.6l-1.5,1.5l-3.8,1l-0.8,1.3v-1L173,102l-1.7,1.7l-4-1.3l-1.9,1.3l-2.1-0.4l-2.5-2.5h-1.7l1.9-1.9
		l-6.7-6.9l-0.8-0.2l-0.2-0.4l-1.1-0.2l-1-1.3L151,91l-3.6-7.9L147,83l-0.2-0.4l-2.7-1.3l-1.5-6.5l-0.8-0.8l-0.4-1.5l-2.7-1.9
		l-1.1-2.7h0.6l-11.9-19.4h-2.1l-0.2,0.4l-0.6-0.2l-2.5,1.3L110,48.9l-0.4-0.6l-4.6-1l-0.2-0.8l-3.6-0.8l-3.4,2.1l0.4,2.5l-2.3,2.1
		l-9.2-3.6l-0.4-1.1l-9.8-2.5l-0.4-1l-1-0.2l-1.3-1.1l3.6-4l-0.2-0.8l-0.8-0.8l-0.2-1.1l1.5-1.5l-0.2-0.4l-1.3,0.8l-0.4-1L74.6,33.5
		L74.6,33.5L74.6,33.5z"></path>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		101,4.7 111.2,13.9 124.9,18.6 132,19.6 142.4,31 143.7,33.5 146.2,34.3 142.2,46.9 138.5,55.7 135.9,53.9 130.6,50.6 127.8,50.9
		125.4,51.6 124.5,54 131.3,66.3 132,72.4 128.3,76.8 127.6,81.6 132.3,84.7 135.7,86 133,92.5 	"></polyline>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		146.3,134.8 143.6,134.9 140,132.8 135.6,130.8 131.7,129.1 128.6,132 127.6,137.4 122.8,134.4 127.6,137.1 122.5,140.8
		127.6,137.1 131,140.8 138.1,142.9 140,145.9 145.3,150.4 152,149.7 140,151 134.9,154.4 131.3,161.1 126.6,166 122.5,168.1
		121.4,172.8 116.9,175 115.3,177.3 108.2,178.1 99.7,179.6 91.5,184.7 92.2,192.1 85.9,194.1 82.9,192.1 81.9,189.6 	"></polyline>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		92.2,192.1 93,198 97.8,198 	"></polyline>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square"
                              stroke-linejoin="round" stroke-miterlimit="10" points="
		144.4,135.4 146.5,137.8 155,142.3 152.8,143.6 146,143.6 147.5,147.1 152,149.7 	"></polyline>
                    <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          x1="132.7" y1="93" x2="132.7" y2="93"></line>
                    <polyline fill="none" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" stroke-dasharray="0,3.8503" points="
			135.1,96 141.9,104.1 147,116.5 148.1,127.1 147.4,132.8 		"></polyline>
                    <line fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          x1="147.1" y1="134.7" x2="147.1" y2="134.7"></line>
                    <polyline fill="none" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"
                              stroke-miterlimit="10" points="
	134.7,154.5 130.9,152 126.9,152.7 128.6,157.8 125.6,165.6 "></polyline>
                </g>
            </svg>

        </div>

    </aside>

    <div class="lang">
        <div id="nas"><a href="{{'/bantustan-interactive-atlas/mapa/' ~ map.id}}">Naš</a></div>
        <div id="eng"><a href="{{'/bantustan-interactive-atlas/map/' ~ map.id}}">Eng</a></div>
    </div>

    {% set v = map.vertical is defined %}
    {% set transMat = "(0.1239 0 0 0.1239 285.1105 25.1702)" if v else "(0.1736 0 0 0.1736 35.077 29.5)" %}

    <svg id="main-map" x="0px" y="0px" viewBox="0 0 1076 768" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

        <image id="map-image" xlink:href="{{ url_for('static', filename='space/afroatlas/maps/' ~ params.bntstn.lang ~ '_' ~ map.id ~ '.jpg') }}" transform="matrix{{ transMat }}"></image>

        {% for ch in map.chapters %}
            <circle class="chapter" onclick="chapterOnClick('{{ ch.page }}');" ontouchend="chapterOnClick('{{ ch.page }}');"
                    pointer-events="visible" cx="{{ ch.x }}" cy="{{ ch.y }}" r="13">
                <title>{{ params.bntstn.chapter_tooltip.part1 ~ ch.id ~ params.bntstn.chapter_tooltip.part2 ~ map.title.chapter }}</title>
            </circle>
        {% endfor %}

        {% for nt in map.notes %}
            <circle class="mark" onclick="noteOnClick('{{ nt.txt }}');" ontouchend="noteOnClick('{{ nt.txt }}');"
                    cx="{{ nt.x }}" cy="{{ nt.y }}" r="8">
                <title>{{ params.bntstn.note_tooltip }}</title>
            </circle>
        {% endfor %}

    </svg>

    <div class="controls">

        <svg id="zoom-in" x="0px" y="0px" viewBox="0 0 11 11">
            <rect x="4" width="3" height="11"></rect>
            <rect y="4" width="11" height="3"></rect>
        </svg>

        <svg id="zoom-out" x="0px" y="0px" viewBox="0 0 11 11">
            <rect y="4" width="11" height="3"></rect>
        </svg>

    </div>

    <footer class="side-content">
        <p class="desktop">{{ params.bntstn.footer_txt|safe }}</p>
        <p><a href="https://krcadinac.com" target="_blank">Uroš Krčadinac</a>, 2015—2022.</p>
    </footer>

    <div class="note">
        <svg id="note-x" x="0px" y="0px" viewBox="0 0 13.4 13.4">
            <path d="M0.1,10.6L4,6.8L0.1,3l2.8-2.8L6.8,4l3.8-3.8l2.6,2.6L9.3,6.6l3.8,3.8l-2.8,2.8L6.5,9.4l-3.8,3.8L0.1,10.6z"></path>
        </svg>
        <div class="note-text">
            <p>Lazar i Marko putuju do vulkana. »Pogled mi klizne kroz prozor, u baruštine i sirotinjska sela. Krave se
                vuku kroz blato kao tužni, olindrali kosturi. Pogrbljena baka tegli na leđima divovski naramak drva.
                Mršava deca naduvenih trbuha, u poderanim gaćama, stoje kraj puta i mašu. Kvašiorkor, <em>stomak
                    gladi</em>.«</p>
            <p>Stomak gladi. Ulica <a href="#">Nezavisnosti</a>. Tugaljiv kurati ponos.</p>
        </div>
    </div>

</main>

<script type="text/javascript">

    const mediaQuery = window.matchMedia('(max-width: 950px)');

    if ("{{ map.color is defined }}" === "True") {
        $("#main-map").css("background-color", "#1a1a1a");
    }

    if ("{{ map.title.long is defined }}" === "True") {
        $("h2").css("font-size", "1.67vw");
    }

    $("#map-image,aside,footer,.controls,.lang").on('click tap touchstart touchend', (event) => {
        $(".note").css({"visibility": "hidden"});
    });

    let noteTxt = "<p>Lazar i Marko putuju do vulkana. »Pogled mi klizne kroz prozor, u baruštine i sirotinjska sela. Krave se\n" +
        "                vuku kroz blato kao tužni, olindrali kosturi. Pogrbljena baka tegli na leđima divovski naramak drva.\n" +
        "                Mršava deca naduvenih trbuha, u poderanim gaćama, stoje kraj puta i mašu. Kvašiorkor, <em>stomak\n" +
        "                    gladi</em>.«</p>\n" +
        "            <p>Stomak gladi. Ulica <a href=\"#\">Nezavisnosti</a>. Tugaljiv kurati ponos.</p>";

    let noteOnClick = (txt=noteTxt) => {
        let note = $(".note"),
            noteTxtCont = $(".note-text");
        note.css({"visibility": "hidden"});
        noteTxtCont.html(txt);
        let noteH = noteTxtCont.height();
        note.height(noteH + 16);
        note.css({"visibility": "visible"});
    }

    $("#note-x").on('click tap touchstart touchend', () => {
        $(".note").css({"visibility": "hidden"});
    });

    let chapterOnClick = (page) => {
        const url = "/download/books/Bantustan.pdf#page=" + page;
        window.open(url, '_blank');
    }

    if (mediaQuery.matches) {
        chapterOnClick = (page) => {
            const txt = "<p>Da biste automatski otvorili PDF knjige na str. " + page + " i pročitali priču 7L u poglavlju XIV, molim vas da sajt otvorite u desktop brauzeru. Domaće elektronsko izdanje <em>Bantustana</em> je <a href='/download/books/Bantustan.pdf#page=294' target='_blank'>otvoreno licencirano i besplatno</a>.</p>";
            noteOnClick(txt);
        }
    }

</script>

</body>
</html>