:root {
    --c0: #fccb4e;
    --c1: #b44c18;
    --c2: #f3b82f;
    --c3: #c48e2a;
    --c4: #e26204;

    --dark: #212121;
    --light: #ffffff;
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: RobotoMono-Regular;
    font-size: 13px;
    line-height: 1.8em;
    color: var(--light);
    background-color: var(--dark);
}

main {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0;
}

p, h1, h2 {
    margin: 0;
    padding: 0;
}

p {
    padding-bottom: 15px;
}