{% extends "base.html" %}

{% block title %}Data Art, Writing, Teaching{% endblock %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/arrows.js') }}"></script>

{% endblock %}

{% block content %}

    <div id="breadcrumbs-container">
        <div id="breadcrumbs"></div>
        <div id="breadcrumbs-background"></div>
    </div>

    <div class="main-container">

        <div class="project-pictogram-list"></div>

        <div class="categories-list">
            <div class="interface-heading">Categories</div>
            <div class="interface-text">
                <a href="#">Data Art</a> /
                <a href="#">Animation</a> /
                <a href="#">Software</a> /
                <a href="#">Artificial Intelligence</a> /
                <a href="#">Book</a>
            </div>
        </div>

        <div class="information-list">
            <div class="interface-heading">Role</div>
            <div class="interface-text">
                <a href="#">Co-Writer</a> /
                <a href="#">Illustrator</a> /
                <a href="#">Programmer</a>
            </div>
            <div class="interface-heading">Medium</div>
            <div class="interface-text">
                <a href="#">Software</a> /
                <a href="#">Book</a>
            </div>
            <div class="interface-heading">Collaborators</div>
            <div class="interface-text">
                <a href="#">John Doe</a> /
                <a href="#">Nikola Pančevac</a> /
                <a href="#">Bla Blablabla</a> /
                <a href="#">Hjidas Geege</a> /
                <a href="#">Bologog Ogogog</a> /
            </div>
        </div>

        <div class="article-image">
            <img src="{{ url_for('static', filename='media/projects/cyclozoetrope/cyclozoetrope-main.jpg') }}">
        </div>

        <div class="article-main-description">
            <span class="first-word-project-title">Cyclozoetrope</span> is a centaur machine: half-bicycle,
            half-<a href="#">zoetrope</a>. The devil’s wheel. The endless physical animated GIF.
        </div>

        <article class="article-text">

            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce luctus nisi nec ultricies egestas. Duis
                quis blandit leo. Maecenas aliquet lobortis lorem posuere rhoncus. Vivamus iaculis vitae diam ut tempus.
                In elementum finibus sem, in vehicula orci tristique vel. Aenean vulputate, ante vitae elementum
                ultrices. </p>
            <p> Vivamus quam nisi, finibus nec mauris eu. </p>
            <p> Praesent id aliquet mauris. Vivamus accumsan egestas egestas. Ut aliquet augue nec magna iaculis semper.
                Nam iaculis, augue sit amet iaculis volutpat, justo felis interdum turpis, non sagittis neque mi quis
                sem. Suspendisse potenti. Duis eget dignissim metus. Etiam consectetur dui sit amet finibus porta. Nunc
                tellus massa, feugiat at egestas in. </p>
            <p> Integer interdum, enim imperdiet tincidunt dignissim, odio purus tincidunt mauris, et pharetra sem risus
                mattis erat. Nam venenatis nibh quis vestibulum fringilla. Ut faucibus, orci quis aliquam malesuada,
                mauris erat posuere est, quis auctor nisl lacus ut felis. In ut enim sed odio facilisis porta. Duis
                massa tellus, facilisis eget laoreet eget. </p>
            <p> Suspendisse ultrices sed enim sed auctor. </p>
        </article>

        <div class="footer">
            Tekst...
        </div>

    </div>

{% endblock %}

{% block jscript %}
    <script>

        let breadData = [
            {"item": "Projects", "link": "../works/projects/"},
            {"item": "This Project", "link": "../works/projects/thisproject"}
            //{"item": "Part of This Project", "link": "../works/projects/thisproject"}
        ];
        arrowUtility.createBreadcrumbs(breadData);
        //arrowUtility.drawArrow();

        let pictolistTags = ["cartography", "animation", "workshop", "data-art", "dataviz"];
        chartUtility.addData(pictoData);
        chartUtility.createProjectPictolist(pictolistTags);

        {#chartUtility.createFlowerchart(chartUtility.getFlowerParamsIndex());#}
        {#chartUtility.createLinechart(chartUtility.getLinechartParamsIndex());#}

        {#chartUtility.mapDataToFlowerchart(pictoData);#}
        {#chartUtility.drawLineChart();#}
        {#chartUtility.setPeriodicalAnimation();#}

    </script>
{% endblock %}