{% extends "en/generic_page.html" %}

{% block title %} → {{ project.title }}{% endblock %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/arrows.js') }}"></script>

{% endblock %}

{% block main_container %}

{#    <div id="breadcrumbs-container">#}
{#        <div id="breadcrumbs"></div>#}
{#        <div id="breadcrumbs-background"></div>#}
{#    </div>#}

    <div class="main-container">

        <div class="project-pictogram-list"></div>

        <div class="information-list">

            <div class="interface-heading-article">Categories</div>
            <div class="interface-text-article">
                {% for tag in project.category %}
                    {% set href = params.project_paths.base ~ params.project_paths.category ~ tag.id %}
                    {% set slash = " / " %}
                    {% if loop.index == project.category|length %}
                        {% set slash = "" %}
                    {% endif %}
                    <a href="{{ href }}" target="_blank">{{ tag.name }}</a>{{ slash }}
                {% endfor %}
            </div>

            <div class="interface-heading-article">Role</div>
            <div class="interface-text-article">

                {% for role in project.role %}
                    {% set href = params.project_paths.base ~ params.project_paths.role ~ role.id %}
                    {% set slash = " / " %}
                    {% if loop.index == project.role|length %}
                        {% set slash = "" %}
                    {% endif %}
                    <a href="{{ href }}" target="_blank">{{ role.name }}</a>{{ slash }}
                {% endfor %}
            </div>

            <div class="interface-heading-article">Medium</div>
            <div class="interface-text-article">
                {% for medium in project.medium %}
                    {% set href = params.project_paths.base ~ params.project_paths.medium ~ medium.id %}
                    {% set slash = " / " %}
                    {% if loop.index == project.medium|length %}
                        {% set slash = "" %}
                    {% endif %}
                    <a href="{{ href }}" target="_blank">{{ medium.name }}</a>{{ slash }}
                {% endfor %}
            </div>

            {% if project.team is defined %}
                <div class="interface-heading-article">Collaborators</div>
                <div class="interface-text-article">
                    {% for human in project.team %}
                        {% set href = human.link %}
                        {% set slash = " / " %}
                        {% if loop.index == project.team|length %}
                            {% set slash = "" %}
                        {% endif %}
                        <a href="{{ href }}" target="_blank">{{ human.name }}</a>{{ slash }}
                    {% endfor %}
                </div>
            {% endif %}

            <div class="interface-heading-article">{{ project.presentation_title }}</div>
            <div class="interface-text-article">
                {% for p in project.presentations %}
                    <p class="interface-subheading">{{ p.year }}</p>
                    {% for e in p.events %}

                        {% set slash = " / " %}
                        {% if loop.index == p.events|length %}
                            {% set slash = "" %}
                        {% endif %}

                        {% if e.link is defined %}
                            <a href="{{ e.link }}" target="_blank">{{ e.name }}</a>{{ slash }}
                        {% else %}
                            <span>{{ e.name }}</span>
                        {% endif %}

                    {% endfor %}
                {% endfor %}
            </div>

            {% if project.awards is defined %}
                <div class="interface-heading-article">Awards</div>
                <div class="interface-text-article">
                    {% for a in project.awards %}
                        {% set slash = " / " %}
                        {% if loop.index == project.awards|length %}
                            {% set slash = "" %}
                        {% endif %}
                        <a href="{{ a.link }}" target="_blank">{{ a.name }}</a>{{ slash }}
                    {% endfor %}
                </div>
            {% endif %}

            {% if project.press is defined %}
                <div class="interface-heading-article">Press</div>
                <div class="interface-text-article">
                    {% for p in project.press %}
                        {% set slash = " / " %}
                        {% if loop.index == project.press|length %}
                            {% set slash = "" %}
                        {% endif %}
                        <a href="{{ p.link }}" target="_blank">{{ p.name }}</a>{{ slash }}
                    {% endfor %}
                </div>
            {% endif %}

        </div>

        <div class="article-image">
            {% set main_img_path = "media/projects/" ~ project.id ~ "/" ~ project.id ~ "-main.jpg" %}
            <img src="{{ url_for('static', filename=main_img_path) }}">
{#            <div class="image-underline"></div>#}
        </div>

        <div class="article-main-description">
            {{ project.lead|safe }}
        </div>

        <article class="article-text">
            {{ project.html|safe }}
        </article>

        <div class="thumbs">
            {% for i in range(n_of_img.thumbs) %}
                {% set thumb_path = "media/projects/" ~ project.id ~ "/thumbs/"  ~ project.id ~ "-thumb0" ~ i ~ ".jpg" %}
                <img src="{{ url_for('static', filename=thumb_path) }}">
            {% endfor %}
        </div>

    </div>

{% endblock %}

{% block jscript %}
    <script>
        (function () {

            {#let projectTitle = "{{ project.title }}";#}
            {#let breadData = [#}
            {#    {"item": "Projects", "link": "/work/projects/"},#}
            {#    {"item": projectTitle, "link": "/work/projects/" + projectTitle.toLowerCase()}#}
            {#];#}
            {#arrowUtility.createBreadcrumbs(breadData);#}

            let pictolistTags = {{ project.category|safe }},
                tagIds = [];
            pictolistTags.forEach(function (item) {
                tagIds.push(item.id);
            });
            chartUtility.addData(pictoData);
            chartUtility.createProjectPictolist(tagIds);

            {#chartUtility.createFlowerchart(chartUtility.getFlowerParamsIndex());#}
            {#chartUtility.createLinechart(chartUtility.getLinechartParamsIndex());#}

            {#chartUtility.mapDataToFlowerchart(pictoData);#}
            {#chartUtility.drawLineChart();#}
            {#chartUtility.setPeriodicalAnimation();#}

        }());
    </script>
{% endblock %}