{% extends "base.html" %}

{% block title %} → {{ project.title }}{% endblock %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
    <script src="{{ url_for('static', filename='js/charts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/arrows.js') }}"></script>

{% endblock %}

{% block content %}

    <div id="breadcrumbs-container">
        <div id="breadcrumbs"></div>
        <div id="breadcrumbs-background"></div>
    </div>

    <div class="main-container">

        <div class="project-pictogram-list"></div>

{#        <div class="categories-list"></div>#}

        <div class="information-list">
            <div class="interface-heading">Categories</div>
            <div class="interface-text-article">
                <a href="#">Data Art</a> /
                <a href="#">Animation</a> /
                <a href="#">Software</a> /
                <a href="#">Artificial Intelligence</a> /
                <a href="#">Book</a>
            </div>
            <div class="interface-heading">Role</div>
            <div class="interface-text-article">
                <a href="#">Co-Writer</a> /
                <a href="#">Illustrator</a> /
                <a href="#">Programmer</a>
            </div>
            <div class="interface-heading">Medium</div>
            <div class="interface-text-article">
                <a href="#">Software</a> /
                <a href="#">Book</a>
            </div>
            <div class="interface-heading">Collaborators</div>
            <div class="interface-text-article">
                <span>John Doe</span> /
                <span>Nikola Pančevac</span> /
                <span>Bla Blablabla</span> /
                <span>Hjidas Geege</span> /
                <span>Bologog Ogogog</span> /
            </div>
        </div>

        <div class="article-image">
            <img src="{{ url_for('static', filename='media/projects/cyclozoetrope/cyclozoetrope-main.jpg') }}">
        </div>

        <div class="article-main-description">
            {{ project.lead|safe }}
        </div>

        <article class="article-text">
            {{ project.html|safe }}
        </article>

        <div class="footer">
            Tekst...
        </div>

    </div>

{% endblock %}

{% block jscript %}
    <script>
        (function () {

            let projectTitle = "{{ project.title }}";
            let breadData = [
                {"item": "Projects", "link": "/work/projects/"},
                {"item": projectTitle, "link": "/work/projects/" + projectTitle.toLowerCase()}
            ];
            arrowUtility.createBreadcrumbs(breadData);
            //arrowUtility.drawArrow();

            //let pictolistTags = ["cartography", "animation", "workshop", "data-art", "dataviz"];
            let pictolistTags = ["animation", "installation",  "workshop", "interactive"];
            chartUtility.addData(pictoData);
            chartUtility.createProjectPictolist(pictolistTags);

            {#chartUtility.createFlowerchart(chartUtility.getFlowerParamsIndex());#}
            {#chartUtility.createLinechart(chartUtility.getLinechartParamsIndex());#}

            {#chartUtility.mapDataToFlowerchart(pictoData);#}
            {#chartUtility.drawLineChart();#}
            {#chartUtility.setPeriodicalAnimation();#}

        }());
    </script>
{% endblock %}