:root {
    --suncolor: #FFB901;
    --darkcolor: #1D1D1B;
    --lightcolor: white;
    --darkpink: #ff3975;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--darkcolor);
    /*overflow: hidden;*/
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    /*margin: 20px;*/
}

svg {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

svg g { }

svg path {
    fill: none;
    /*stroke: var(--lightcolor);*/
    stroke: var(--suncolor);
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    opacity: 0.4;
}

svg .yv {
    /*stroke: var(--suncolor);*/
    /*stroke: var(--darkpink);*/
    stroke: var(--lightcolor);
    opacity: 1;
}

svg text {
    fill: yellow;
    font-family: monospace;
    font-size: 8px;
    text-align: left;
    padding-left: 20px;
}