/* Main Container */

.main-container {
    grid-area: maincont;
    margin: 18px 0 120px 0;
    min-height: calc(100vh - 220px);
}

/* Line Chart */

.linechart {
    grid-area: lc;
    height: 50px;
    stroke-width: 2;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.fill-bg {
    fill: var(--lightcolor);
}

.linechart .domain {
    stroke: var(--darkcolor);
    stroke-dasharray: 0, 9;
    stroke-linecap: round;
    stroke-width: 1.6;
}

.linechart .linechartLine {
    fill: none;
    stroke: var(--suncolor);
}

.linechart .linechartXaxis {
    font-family: CartographSans-Medium, monospace;
    font-size: 8pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
    color: var(--darkcolor);
}

.linechartCircle {
    fill: var(--suncolor);
    stroke: none;
}

/* Lead Intro Text */

.article-main-description {
    justify-items: center;
    text-align: center;
    padding: 50px 18% 95px 18%;
}

.article-main-description a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 4px 2px;
    color: var(--darkcolor);
    padding-bottom: 3px;
    text-decoration: none;
    transition: background-size .13s;
}

.article-main-description a:hover {
    background-size: 2px 5px;
}

.article-main-description span {
    font-family: "Ambit-Bold", sans-serif;
}

/* Article Container */

.article-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-gap: 50px;
    grid-auto-rows: auto;
}

/* Article Text */

.article-text {
    margin: 0;
}

.article-text p {
    margin: 0;
    padding: 0 0 15px 0;
    font-size: 12.5pt;
    text-align: left;
}

.article-text a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 3px 2px;
    color: var(--darkcolor);
    padding-bottom: 3px;
    text-decoration: none;
    transition: background-size .13s;
}

.article-text a:hover {
    background-size: 3px 4px;
}

.article-text sup {
    font-size: 8pt;
    line-height: 1;
}

.article-text mark {
    font-size: 8pt;
    color: var(--suncolor);
    background-color: transparent;
}

/* Article Image */

.image-row {
    position: relative;
    display: block;
}

.image-row img {
    display: block;
    max-width:100%;
    max-height:100%;
}

.image-row .mask {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.18s;
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-row .mask-caption {

    color: var(--lightcolor);
    position: absolute;
    top: 15px;
    left: 18px;
    opacity: 0;
    transition: 0.18s;
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.image-row:hover .mask {
    opacity: 1;
}
.image-row:hover .mask-caption {
    opacity: 1;
}

.image-row .photo-caption {
    padding: 10px 0;
}

/* Align Bottow */

.align-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    /*display: grid;*/
    /*grid-template-columns: 2fr 1fr;*/
    /*grid-gap: 15px;*/
}

.align-bottom a {
    background: none;
}

/* Quote Bellow Image */

.quote {
    /*padding: 10px 0;*/
    margin: 20px 0;
}

/* Download Lead */

.download-material {
    font-size: 11.5pt;
    line-height: 1.6em;
    letter-spacing: 0.2pt;
}

/* Download Button */

.goto-button {
    color: var(--darkcolor);
    background-color: var(--suncolor);
    box-sizing: border-box;
    margin: 20px 0 25px 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.goto-button:hover {
    cursor: pointer;
    color: var(--lightcolor);
    background-color: var(--darkcolor);
}

.goto-button:active {
    cursor: pointer;
}

.mobile-main-image {
    display: none;
}

/* Small Mobile */

@media only screen and (max-width: 650px) {

    .main-container {
        grid-area: maincont;
        margin: 72px 0 60px 0;
    }

    .article-main-description {
        grid-area: in;
        justify-items: center;
        text-align: center;
        padding: 60px 0 50px 0;
    }

    .mobile-main-image {
        display: block;
        width: 100%;
        padding-bottom: 20px;
    }

    .mobile-main-image img {
        display: block;
        max-width: 100%;
        padding-bottom: 12px;
    }

    .image-row img,
    .image-row .photo-caption{
        display: none;
    }

    .article-container {
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-gap: 0;
    }

    .image-row {
        display: block;
    }

    .quote {
        margin-top: 18px;
    }

    .align-bottom {
        position: relative;
        left: 0;
        top: 0;
    }

    .download-material {
        padding-top: 50px;
    }

    .goto-button {
        margin-top: 16px;
    }

}