/* Variables */

:root {
    /* Colors */
    --suncolor: #FFB901;
    --lightcolor: #FFFFFF;
    --darkcolor: #1D1D1B;
    --graycolor: #c2c2c2;

    --lightcolor1: #F6F5F1;
}

/* Main Settings */

html {
    font-family: Ambit-Regular, sans-serif;
    height: 100%;
    overflow-x: hidden;
}

body {
    color: var(--darkcolor);
    background-color: var(--lightcolor);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    padding-inline-start: 0px;
    padding-left: 0;
}
a { text-decoration: none; }

/* Margins */

#left-margin {
    position: fixed;
    left: 0; top: 0;
    width: 60px;
    height: 100%;
    background-color: var(--suncolor);
    z-index: 10;
}

/* Main Body */

#main-body {
    margin: 0;
    background-color: var(--lightcolor);
    overflow-x: hidden;
}

/* Main Logo */

#main-logo {
    position: fixed;
    width: 13px;
    height: 26px;
    z-index: 20;
    top: 0;
    margin-top: 32px;
    left: 23px;

    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#pictome-logo {
    stroke-width: 1;
}

.fill-none-stroke-dark {
    fill: none;
    stroke: var(--darkcolor);
}

.fill-none-stroke-light {
    fill: none;
    stroke: var(--lightcolor);
}

.fill-none-stroke-sun {
    fill: none;
    stroke: var(--suncolor);
}

/* Interface within Article */

.interface-heading-article {
    padding-bottom: 12px;
}

.interface-heading-article-condensed {
    padding-bottom: 8px;
}

.interface-subheading {
    padding: 4px 0 6px 0;
    margin: 0;
}

/* Lang Logo */

#lang-href {
    display: block;
}

#lang-choice {
    position: fixed;
    display: block;
    z-index: 15;
    text-align: center;
    top: 30px;
    right: 40px;
    /*opacity: 0;*/
    /*transition: opacity 0.18s;*/
    /*transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);*/
}

#lang-choice ul {
    pointer-events: none;
    padding: 0;
    line-height: 1.6em;
}

#lang-choice ul li .up {
    text-decoration: none;
    color: var(--darkcolor);
    position: relative;
    opacity: 0.25;
    top: 0;
    transition: 0.12s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#lang-choice ul li .down {
    cursor: default;
    color: var(--darkcolor);
    opacity: 1;
    transition: 0.12s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#lang-choice:hover {
    cursor: pointer;
}

#lang-choice:hover ul li .up {
    text-decoration: none;
    color: var(--suncolor);
    top: -2px;
    opacity: 1;
}

#lang-choice:hover ul li .down {
    opacity: 0.25;
}



/* Cursors */

.cursor-pointer {
    cursor: pointer;
}

/* Aside Navigation Bar Rules */

aside {
    position: fixed;
    visibility: hidden;
    background-color: var(--suncolor);
    height: 100vh;
    top: 0;
    left: 0;
    width: 0;
    z-index: 11;
    transition: 0.3s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

    display: flex;
    overflow-x: hidden;
}

.side-nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 25px;
    opacity: 0;
    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.side-nav .menu-title {
    font-family: "CartographMono-Heavy", monospace;
    font-size: 9pt;
    padding-bottom: 16px;
    color: var(--darkcolor);
    text-transform: uppercase;
}

.side-nav .lang {
    padding-top: 30px;
}

.side-nav ul li span {
    cursor: default;
    color: var(--darkcolor);
    opacity: 0.35;
}

/* Name Aside */

#name-aside {
    color: var(--darkcolor);
    height: 100%;
    text-align: center;
    position: fixed;
    z-index: 15;
    left: 21px;
    top: calc(50% + 15px);
    writing-mode: tb-rl;
    cursor: default;

    -webkit-transform: translate(0, -50%) rotate(180deg);
    -moz-transform: translate(0, -50%) rotate(180deg);
    -o-transform: translate(0, -50%) rotate(180deg);
    -ms-transform: translate(0, -50%) rotate(180deg);
    transform: translate(0, -50%) rotate(180deg);

    opacity: 1;
    transition: opacity 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#name-aside mark {
    background-color: transparent;
    padding: 4px 0;
}

/* Selection Queries */

::selection {
  background: var(--suncolor); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--suncolor); /* Gecko Browsers */
}

/* MEDIA QUERIES */
/* Mobile */

@media only screen and (max-width: 480px) {

    #left-margin {
        width: 0;
    }

    #main-logo {
        left: 20px;
    }

    #lang-choice {
        top: 25px;
        right: 20px;
    }

    #name-aside {
        display: none;
    }

}