/* Breadcrumbs */

#breadcrumbs {
    position: fixed;
    top: 20px;
    left: 0px;
    z-index: 6;
}

#breadcrumbs-arrow {
}

.breadcrumbs-text {
    padding: 0 26px;
    position: relative;
    top: -2px;
}

.breadcrumbs-small-arrow {
}

#breadcrumbs-arrow-svg {
}

.breadcrumbs-arrow-style {
    fill: none;
    stroke: var(--darkcolor);
    stroke-width: 1;
}

#breadcrumbs-background {
    position: fixed;
    top: 8px;
    width: calc(100vw - 16px);
    height: 50px;
    z-index: 5;
    background-color: var(--lightcolor);
}

/* Generic Center Container */

.generic-center-container {
    display: grid;
    grid-template-columns: 1fr 940px 1fr;
    grid-template-rows: auto minmax(100px, auto);
    grid-gap: 0;
    grid-template-areas: ".  maincont . " "f1 footcont f2";
}

/* Footer */

.footer {
    grid-area: footcont;
    color: var(--lightcolor);
    background-color: var(--darkcolor);
    margin: 0;
    padding: 50px 0 60px 0;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto; /*minmax(10px, auto);*/
    grid-gap: 0px;
    grid-template-areas: "menu menu soc soc pic pic bio bio bio";
}

.footer .menu {
    grid-area: menu;
    display: block;
    border-left: var(--lightcolor) solid 1px;
}

.footer .menu .menu-inside {
    padding: 0 40px 0 20px;
}

.footer .social {
    grid-area: soc;
    display: block;
    border-left: var(--lightcolor) solid 1px;
}

.footer .social .social-inside {
    padding: 0 40px 0 20px;
}

.footer .interface-heading-article {
    color: var(--lightcolor);
    padding-bottom: 12px;
}

.footer .interface-text-article {
    padding-bottom: 26px;
}

.footer .bio-break {
    display: none;
}

.footer bio-break-footer-sh {
    display: inline;
}

/* Footer Pictogram Container */

.footer .footer-pictogram {
    grid-area: pic;
    display: flex;
    align-self: stretch;
    justify-content: center;
    border-left: var(--lightcolor) solid 1px;
}

.footer .footer-pictogram .main-pictome {
    padding: 0 20px;
    display: block;
    justify-self: center;
    align-self: center;
    text-align: center;
}

/* Animated Pictogram */

.pictome {
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1;
}

.pictome:hover {
    cursor: pointer;
}

#pictome-bg {
    fill: var(--darkcolor);
    stroke: none;
}

#pictome-bg:hover {
    cursor: pointer;
}

.pictome-dot {
    stroke: none;
    fill: var(--suncolor);
}

.pictome-dot:hover {
    cursor: pointer;
}

.pictome-dot-sun {
    stroke: none;
    fill: var(--suncolor);
}

/* Footer Bio */

.footer .bio {
    grid-area: bio;
    display: block;
    padding-right: 20px;
    border-left: var(--lightcolor) solid 1px;
}

.footer .bio .bio-inside {
    padding: 0 0 0 20px;
}

.footer .bio p {
    margin: 0;
    padding-bottom: 12px;
}

.footer .copyleft {
    display: inline-block;
    transform: rotate(180deg);
    padding-top: 3px;
}

.footer .bio a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 3px 1px;
    color: var(--lightcolor);
    padding-bottom: 3px;
    text-decoration: none;
    transition: background-size .13s;
}

.footer .bio a:hover {
    color: var(--suncolor);
    /*background-size: 2px 7px;*/
}

/* Footer Margin, Bottom Margin, Left and Right */

.footer-margin-left {
    grid-area: f1;
    background-color: var(--darkcolor);
}

.footer-margin-right {
    grid-area: f2;
    background-color: var(--darkcolor);
}

/* Utils */

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

/* Middle Size Laptops */

@media only screen and (min-width: 480px) and (max-width: 1150px) {

    .generic-center-container {
        display: grid;
        grid-template-columns: 1fr calc(100vw - 200px) 1fr;
        grid-template-rows: auto minmax(100px, auto);
    }

}

.mobile-bar {
    position: absolute;
    height: 60px;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: var(--lightcolor);
    z-index: 9;
    visibility: hidden;
}


/* Small Mobile */

@media only screen and (max-width: 650px) {

    .mobile-bar {
        visibility: visible;
    }

    .linechart {
        display: none;
    }

    .generic-center-container {
        display: grid;
        grid-template-columns: 1fr calc(100vw - 40px) 1fr;
        grid-template-rows: auto minmax(100px, auto);
    }

    .footer {
        margin: 0;
        padding: 24px 0 30px 0;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; /*minmax(10px, auto);*/
        grid-gap: 20px;
        grid-template-areas: "menu menu" "soc soc" "pic pic" "bio bio";
    }

    .footer .interface-heading-article {
        padding-bottom: 6px;
    }

    .footer .footer-pictogram,
    .footer .bio,
    .footer .menu,
    .footer .social {
        border-left: 0;
    }

    .footer .bio {
        padding: 0;
    }

    .footer .bio .bio-inside,
    .footer .menu .menu-inside,
    .footer .social .social-inside {
        padding: 0;
    }

    .footer .footer-pictogram {
        padding: 24px 0 30px 0;
    }

}