/* Main Settings */

html {
    overflow-y: hidden;
}

body {
    font-family: 'Ambit-Regular', sans-serif;
    overflow-y: hidden;
}

#main-body {
    margin: 8px 8px 8px 40px;
    width: calc(100vw - 48px);
    min-height: calc(100vh - 16px);
    overflow-y: hidden;
}

/* Main */

main {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

/* Main Content */

.main-container {
    width: 100%;
    /*height: calc(100vh - 0px);*/
    /*margin-top: 0px;*/
    height: 100vh;
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-areas: "main-pictome main-content";

    font-family: "Montserrat-Regular", sans-serif;
    font-size: 10pt;
    color: var(--darkcolor);
    line-height: 1.7em;
    letter-spacing: 0.2pt;

    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1)
}

.main-pictome {
    grid-area: main-pictome;
    padding-right: 10%;
    align-self: center;
    justify-self: end;
}

#pictome-svg {
    height: 200px;
}

.main-content {
    grid-area: main-content;
    padding: 0px 22px;
    width: 340px;
    align-self: center;
    border-left: 1px solid var(--darkcolor);
}

.short-bio {
    padding-bottom: 30px;
}

.flowerchart {
    /*padding-bottom: 2px;*/
    /*height: 188px;*/
}

.main-content a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 3px 1px;
    color: var(--darkcolor);
    padding-bottom: 1px;
    text-decoration: none;
    transition: background-size .13s;
}

.main-content a:hover,
.main-content .manual-hover {
    background-size: 2px 4px;
}

.bio-break {
    display: auto;
}

/* Hover Pointer */

.hover-pointer {
    cursor: pointer;
}

/* Text Selection */

::selection {
    color: var(--lightcolor);
    background: var(--darkcolor);
}

::-moz-selection {
    color: var(--lightcolor);
    background: var(--darkcolor);
}

/* SVG rules for Pictome and the rest of the pictogram graphics */

.light-fill {
    fill: var(--lightcolor);
    stroke: none;
}

.light-fill:hover {
    /*cursor: pointer;*/
}

/* Big Animated Pictogram */
.pictome {
    fill: none;
    stroke: var(--darkcolor);
    stroke-width: 0.5;
}

.pictome:hover {
    cursor: pointer;
}

#pictome-bg:hover {
    cursor: pointer;
}

.pictome-small-sun {
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1.5;
}

.pictome-small-dark {
    fill: none;
    stroke: var(--darkcolor);
    stroke-width: 1;
}

.pictome-dot {
    stroke: none;
    fill: var(--darkcolor);
}

.pictome-dot:hover {
    cursor: pointer;
}

.pictome-dot-sun {
    stroke: none;
    fill: var(--suncolor);
}

.graphics-origin {
    transform-origin: 0% 0%;
}

.small-pictome {
    transform-origin: 50% 100%;
}

.dashed {
    stroke-dasharray: 0, 7;
    stroke-linecap: round;
}

.dark-stroke {
    stroke: var(--darkcolor);
    stroke-width: 1;
}

.sun-stroke {
    stroke: var(--suncolor);
    stroke-width: 2;
}

.sun-stroke-only {
    stroke: var(--suncolor);
}

.light-stroke-only {
    stroke: var(--lightcolor);
}

.dark-stroke-only {
    stroke: var(--darkcolor);
}

.fill-bg {
    stroke: none;
    fill: var(--lightcolor);
}

/* SVG Rules for Line Chart */

.linechart {
    height: 85px;
    padding-bottom: 0;
    stroke-width: 1;
}

.linechart .domain {
    stroke: var(--darkcolor);
    stroke-dasharray: 0, 7;
    stroke-linecap: round;
    stroke-width: 1;
}

.linechart .linechartLine {
    fill: none;
    stroke: var(--suncolor);
}

.linechart .linechartXaxis {
    font-family: "CartographSans-Medium", sans-serif;
    font-size: 8pt;
    color: var(--darkcolor);
}

.linechartCircle {
    fill: var(--suncolor);
    stroke: none;
}

.linechartCircleVisible {
}


/* Tablet & Mobile */

@media only screen and (max-width: 768px) {

    #main-body {
        margin: 8px 8px 8px 8px;
        width: calc(100vw - 16px);
        min-height: calc(100vh - 16px);
    }

    .main-container {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "main-pictome" "main-content";
    }

    .main-pictome {
        padding: 10px 0 0 0;
        align-self: center;
        justify-self: center;
    }

    #pictome-svg {
        height: 150px;
    }

    .main-content {
        grid-area: main-content;
        padding: 50px 0 0 0;
        width: auto;
        align-self: start;
        justify-self: center;
        border: 0;
    }

}

/* Small Mobile */

@media only screen and (max-width: 340px) {

    .main-container {
        grid-template-rows: 1fr 2fr;
    }

    .main-pictome {
        padding: 30px 0 0 0;
    }

    #pictome-svg {
        height: 100px;
    }

    .main-content {
        padding: 30px 0 12px 0;
        width: calc(100vw - 40px);
        align-self: end;
    }

    .bio-break {
        display: none;
    }

}