/* Main Settings */

html {
    overflow-y: hidden;
}

body {
    font-family: 'Ambit-Regular', sans-serif;
    overflow-y: hidden;
}

#main-body {
    margin: 8px 8px 8px 40px;
    width: calc(100vw - 48px);
    min-height: calc(100vh - 16px);
    overflow-y: hidden;
}

/* Main */

main {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

/* Main Content */

.main-container {

    width: 440px;

    color: var(--darkcolor);
    font-family: "Ambit-Regular", sans-serif;
    font-size: 13pt;
    line-height: 1.5em;
    letter-spacing: 0.2pt;

    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);

    display: flex;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
}

.main-container a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 3px 2px;
    color: var(--darkcolor);
    padding-bottom: 3px;
    text-decoration: none;
    transition: background-size .13s;
}

.main-container a:hover,
.main-container .manual-hover {
    background-size: 2px 4px;
}

.main-pictome {
    width: 35px;
    padding-bottom: 35px;
    justify-self: center;
    align-self: center;
}

#pictome-svg {
    /*height: 100px;*/
}

.short-bio {
    padding-bottom: 42px;
}

.flowerchart {
    /*cursor: pointer;*/
    padding-bottom: 15px;
}

.flowerchart svg {
    display: block;
}

.bio-break {
    display: auto;
}

/* Hover Pointer */

.hover-pointer {
    cursor: pointer;
}

/* Text Selection */

::selection {
    background: var(--suncolor);
}

::-moz-selection {
    background: var(--suncolor);
}

/* SVG rules for Pictome and the rest of the pictogram graphics */

.light-fill {
    fill: var(--lightcolor);
    stroke: none;
}

.light-fill:hover {
    /*cursor: pointer;*/
}

/* Big Animated Pictogram */
.pictome {
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1.1;
    transition: stroke 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pictome:hover {
    cursor: pointer;
}

#pictome-bg:hover {
    cursor: pointer;
}

.pictome-small-sun {
    cursor: pointer;
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1.5;
    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pictome-small-sun:hover {
    stroke-width: 2.5;
}

.pictome-small-dark {
    cursor: pointer;
    fill: none;
    stroke: var(--darkcolor);
    stroke-width: 1;
    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pictome-small-dark:hover {
    stroke-width: 2;
}

.pictome-dot {
    stroke: none;
    fill: var(--suncolor);
}

.pictome-dot:hover {
    cursor: pointer;
}

.pictome-dot-sun {
    stroke: none;
    fill: var(--suncolor) !important;
}

.pictome-dot-flower {
    stroke: none;
    fill: var(--darkcolor);
}

.graphics-origin {
    transform-origin: 0% 0%;
}

.small-pictome {
    transform-origin: 50% 100%;
}

.dashed {
    stroke-dasharray: 0, 7;
    stroke-linecap: round;
}

.dark-stroke {
    stroke: var(--darkcolor);
    stroke-width: 1.3;
}

.sun-stroke {
    stroke: var(--suncolor);
    stroke-width: 2.2;
}

/* big picto on hover */
.sun-stroke-only {
    stroke-width: 1.7;
}

.light-stroke-only {
    stroke: var(--lightcolor);
}

.dark-stroke-only {
    stroke: var(--darkcolor);
}

.fill-bg {
    stroke: none;
    fill: var(--lightcolor);
}

/* SVG Rules for Line Chart */

.linechart {
    height: 70px;
    padding-bottom: 0;
    stroke-width: 2;
}

.linechart .domain {
    stroke: var(--darkcolor);
    stroke-dasharray: 0, 9;
    stroke-linecap: round;
    stroke-width: 1.6;
}

.linechart .linechartLine {
    fill: none;
    stroke: var(--suncolor);
    transition: stroke 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.linechart .linechartXaxis {
    font-family: "CartographSans-Medium", sans-serif;
    font-size: 8pt;
    color: var(--darkcolor);
}

.linechartCircle {
    fill: var(--suncolor);
    stroke: none;
}

.linechartCircleVisible {
}

/* Additional Break Fixes */

.bio-break-footer-sh {
    display: none;
}


/* Tablet & Mobile */

@media only screen and (max-width: 768px) {

    #main-body {
        margin: 8px 8px 8px 8px;
        width: calc(100vw - 16px);
        min-height: calc(100vh - 16px);
    }

    .main-container {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "main-pictome" "main-content";
    }

    .main-pictome {
        padding: 10px 0 0 0;
        align-self: center;
        justify-self: center;
    }

    #pictome-svg {
        height: 150px;
    }

    .main-content {
        grid-area: main-content;
        padding: 50px 0 0 0;
        width: auto;
        align-self: start;
        justify-self: center;
        border: 0;
    }

}

/* Small Mobile */

@media only screen and (max-width: 340px) {

    .main-container {
        grid-template-rows: 1fr 2fr;
    }

    .main-pictome {
        padding: 30px 0 0 0;
    }

    #pictome-svg {
        height: 100px;
    }

    .main-content {
        padding: 30px 0 12px 0;
        width: calc(100vw - 40px);
        align-self: end;
    }

    .bio-break {
        display: none;
    }

}