/* Main Settings */

html {
    overflow-y: hidden;
}

body {
    overflow-y: hidden;
}

#main-body {
    margin: 8px 8px 8px 40px;
    width: calc(100vw - 48px);
    min-height: calc(100vh - 16px);
    overflow-y: hidden;
}

/* Main */

main {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

/* Main Content */

.main-container {
    /*width: 440px;*/
    width: 52vh;
    color: var(--darkcolor);
    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    display: flex;
    overflow: hidden;
    align-self: center;
    justify-self: center;
    flex-direction: column;
    text-align: center;
}

.homepage-text-style {
    font-size: 2.3vh;
}

.main-pictome {
    width: 35px;
    /*padding-bottom: 35px;*/
    justify-self: center;
    align-self: center;
}

#pictome-svg {
    /*height: 100px;*/
}

.short-bio {
    padding: 6vh 0 8vh 0;
}

.flowerchart {
    padding-bottom: 4vh;
}

.flowerchart svg {
    display: block;
}

.bio-break {
    display: auto;
}

/* Hover Pointer */

.hover-pointer {
    cursor: pointer;
}

/* Text Selection */

::selection {
    background: var(--suncolor);
}

::-moz-selection {
    background: var(--suncolor);
}

/* SVG rules for Pictome and the rest of the pictogram graphics */

.light-fill {
    fill: var(--lightcolor);
    stroke: none;
}

.light-fill:hover {
    /*cursor: pointer;*/
}

/* Big Animated Pictogram */
.pictome {
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1.1;
    transition: stroke 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pictome:hover {
    cursor: pointer;
}

#pictome-bg:hover {
    cursor: pointer;
}

.pictome-small-sun {
    cursor: pointer;
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1.5;
    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pictome-small-sun:hover {
    stroke-width: 2.5;
}

.pictome-small-dark {
    cursor: pointer;
    fill: none;
    stroke: var(--darkcolor);
    stroke-width: 1;
    transition: 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.pictome-small-dark:hover {
    stroke-width: 2;
}

.pictome-dot {
    stroke: none;
    fill: var(--suncolor);
}

.pictome-dot:hover {
    cursor: pointer;
}

.pictome-dot-sun {
    stroke: none;
    fill: var(--suncolor) !important;
}

.pictome-dot-flower {
    stroke: none;
    fill: var(--darkcolor);
}

.graphics-origin {
    transform-origin: 0% 0%;
}

.small-pictome {
    transform-origin: 50% 100%;
}

.dashed {
    stroke-dasharray: 0, 7;
    stroke-linecap: round;
}

.dark-stroke {
    stroke: var(--darkcolor);
    stroke-width: 1.3;
}

.sun-stroke {
    stroke: var(--suncolor);
    stroke-width: 2.2;
}

/* big picto on hover */
.sun-stroke-only {
    stroke-width: 1.7;
}

.light-stroke-only {
    stroke: var(--lightcolor);
}

.dark-stroke-only {
    stroke: var(--darkcolor);
}

.fill-bg {
    stroke: none;
    fill: var(--lightcolor);
}

/* SVG Rules for Line Chart */

.linechart-index {
    height: 11vh;
    padding-bottom: 0;
    stroke-width: 2;
}

.linechart-index .domain {
    stroke: var(--darkcolor);
    stroke-dasharray: 0, 10;
    stroke-linecap: round;
    stroke-width: 1.6;
}

.linechart-index .linechartLine {
    fill: none;
    stroke: var(--suncolor);
    transition: stroke 0.18s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.linechart-index .linechartXaxis {
    font-family: CartographSans-Medium, sans-serif;
    font-size: 8pt;
    color: var(--darkcolor);
}

.linechartCircle {
    fill: var(--suncolor);
    stroke: none;
}

.linechartCircleVisible {
}

/* Additional Break Fixes */

.bio-break-footer-sh {
    display: none;
}


/* Middle Size Laptops */
@media only screen and (min-width: 650px) and (max-width: 1380px)   {


    .main-container {
        width: 60vh;
    }

    .homepage-text-style {
        font-size: 2.7vh;
    }

}

/* Small Mobile */

@media only screen and (max-width: 650px) {

    .homepage-text-style {
        font-size: 14pt;
    }

    .short-bio {
        padding: 10px 0 45px 0;
    }

    .flowerchart {
        padding-bottom: 20px;
    }

    .main-container {
        padding: 0;
        width: calc(100vw - 40px);
        display: flex;
        justify-content: center;
    }

    .bio-break {
        display: none !important;
    }

}