/* Main Container */

.main-container {
    grid-area: maincont;
    margin: 18px 0 120px 0;
    min-height: calc(100vh - 220px);
}

/* Title */

.title {
    margin: 70px 0 15px 0;
    text-align: center;
}

/* Lead Intro Text */

.article-main-description {
    justify-items: center;
    text-align: center;
    padding: 0 18% 20px 18%;
    margin-bottom: 70px;
}

.article-main-description-error {
    font-size: 20pt !important;
    line-height: 1.6em;
    letter-spacing: 0.2pt;

    justify-items: center;
    text-align: center;
    padding: 70px 18% 20px 18%;
    margin-bottom: 70px;
}

.hovered {
    color: var(--suncolor) !important;
}

/* Project List */

.year-container {
    /*display: grid;*/
    /*grid-template-columns: 74px auto;*/
    /*grid-template-rows: auto;*/
    margin-bottom: 25px;
}

.year-projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /*grid-auto-rows: auto;*/
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.year-title {
    padding: 8px 0 0 0;
    margin-right: 15px;
}

.project {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.project a {
    color: var(--darkcolor);
    text-decoration: none;
}

.project:hover a {
    color: var(--suncolor);
}

.featured {
    grid-column: span 2 !important;
    grid-row: span 2 !important;
}

.project:hover {
    cursor: pointer;
}

.project-name {
    padding: 8px 15px 0 0;
}

.square {
    position: relative;
    width: 100%;
    background-color: var(--suncolor);
    color: var(--darkcolor);
    text-align: left;
    /*padding: calc(100% - 100px) 20px 0 20px;*/
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: .13s;
}

.square:hover {
    background-color: var(--darkcolor);
    color: var(--lightcolor);
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 24px;
    display: grid;
}

.square .date-subtitle {
    align-self: end;
    justify-self: end;
    text-align: left;
    width: 100%;
}

.square .date  {
    color: var(--suncolor);
    padding-top: 14px;
    transition: .13s;
    opacity: 0;
}
.square:hover .date {
    color: var(--lightcolor);
    opacity: 1;
}

.square .subtitle  {
    color: var(--suncolor);
    padding-top: 16px;
    transition: .13s;
    opacity: 0;
}
.square:hover .subtitle {
    color: var(--lightcolor);
    opacity: 1;
}
.square .invisible {
    display: none;
}

@media only screen and (max-width: 650px) {

    .main-container {
        grid-area: maincont;
        margin: 40px 0 40px 0;
        /*min-height: calc(100vh - 220px);*/
    }

    .project-title {
        justify-self: center;
        text-align: center;
        margin: 15px 0 15px 0;
    }

    .article-main-description {
        grid-area: in;
        justify-items: center;
        text-align: center;
        padding: 0;
    }

    .article-main-description-error {
        font-size: 15pt !important;
        padding: 70px 0 0 0;
    }
    .article-main-description-error br {
        display: none;
    }

    .year-title {
        padding: 4px 0 0 0;
        margin: 0 0 18px 0;
    }

    .interface-year-style {
        font-family: CartographMono-Heavy, monospace;
        font-size: 11pt;
    }

    .dashed-top {
        background-size: 0;
    }

    .year-container {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin-bottom: 25px;
    }

    .year-projects {
        display: grid;
        grid-template-columns: auto;
        grid-auto-rows: auto;
        grid-gap: 10px;
        grid-auto-flow: dense;
    }

    .featured {
        grid-column: span 1 !important;
    }

    .project-name-in-list-style {
        font-size: 12pt;
        padding: 10px 0 10px 0;
    }


}

