/* Main Container */

.main-container {
    grid-area: maincont;
    margin: 18px 0 120px 0;
    font-family: Ambit-Regular, sans-serif;
    min-height: calc(100vh - 220px);
}

/* Title */

.title {
    margin: 65px 0 15px 0;
    text-align: center;
}

/* Lead Intro Text */

.article-main-description {
    justify-items: center;
    text-align: center;
    padding: 0 20% 20px 20%;
}

/* Down Arrow */

.down-arrow-container {
    text-align: center;
    padding-bottom: 70px;
}

/* WRITING */

/* Section Container */

.section-container {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 30px;
}

.section-container-grid-areas1 {
    grid-template-areas:
        "img ttl"
        "img txt"
        "prt txt"
        "prj txt"
        "  . txt";
}

.section-container-grid-areas2 {
    grid-template-areas:
        "ttl img"
        "txt img"
        "txt prt"
        "txt prj"
        "txt .  ";
}

/* Section Image */

.section-image {
    grid-area: img;
    display: block;
    margin-bottom: 10px;
}

.section-image img {
    display: block;
    max-width: 100%;
    /*max-height: 100%;*/
}

/* Section Title */

.section-heading {
    grid-area: ttl;
    padding-bottom: 18px;
}

h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Section Text */

.section-text {
    grid-area: txt;
    margin: 0;
}
.section-text p {
    margin: 0;
    padding: 0 0 15px 0;
    text-align: left;
}

/* Section Project Title */

.project-title {
    grid-area: prt;
    margin: 14px 0;
}

/* Section Project List */

.section-projects {
    grid-area: prj;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;
    grid-auto-flow: dense;
    margin-bottom: 15px;
}

.project {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.project:hover {
    cursor: pointer;
}

.project-name {
    padding: 8px 15px 0 0;
}

.project a {
    color: var(--darkcolor);
    text-decoration: none;
}

.project:hover a {
    color: var(--suncolor);
}

.project img {
    display: block;
    width: 100%;
    vertical-align: top;
	line-height: 0;
	letter-spacing: 0;
	zoom: 1;
    transition: 0.1s;
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project:hover img {
    opacity: 0.8;
}

/* Break Line Dashed Top */

.break-line-container {
    width: 100%;
    text-align: center;
}

.break-line {
    display: inline-block;
    width: 30px;
    height: 72px;
    margin: 0 0 0 0;
}

/* TEACHING, SPEAKING, PRESS */

/* Page Section Container */

.page-section-container {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 30px;
}

/* Page Section Image */

.page-section-image {
    display: block;
    margin-bottom: 10px;
}
.page-section-image img {
    display: block;
    max-width: 100%;
}

/* Section Text */

.page-section-text {
    margin: 0;
}
.page-section-text p {
    margin: 0;
    padding: 0 0 15px 0;
    text-align: left;
}
