/* Main Container */

.main-container {
    grid-area: maincont;
    margin: 18px 0 120px 0;
    font-family: Ambit-Regular, sans-serif;
    min-height: calc(100vh - 220px);
}

/* Title */

.title {
    margin: 95px 0 15px 0;
    text-align: center;
}

/* Lead Intro Text */

.article-main-description {
    justify-items: center;
    text-align: center;
    padding: 0 18% 20px 18%;
    margin-bottom: 100px;
}

/* Down Arrow */
/*.down-arrow-container {*/
    /*text-align: center;*/
    /*padding-bottom: 70px;*/
/*}*/

/* WRITING */

/* Section Container */

.section-container {
    margin-top: 0;
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 40px;
}

.section-container-grid-areas1 {
    grid-template-areas:
        "imc txt";
}

.section-container-grid-areas2 {
    grid-template-areas:
        "txt imc";
}

/* Columns */

.image-column {
    grid-area: imc;
}

.text-column {
    grid-area: txt;
}

/* Dot Padding */

.bullet-padding {
    padding-right: 4px;
}

/* Section Image */

.section-image {
    /*grid-area: img;*/
    display: block;
    margin-bottom: 35px;
}

.section-image .image {
    margin-bottom: 15px;
}

.section-image .image img {
    display: block;
    max-width: 100%;
}

.section-image .caption {
    padding: 4px 0;
    /*margin-bottom: 15px;*/
}

/* Section Title */

.section-heading {
    /*grid-area: ttl;*/
    padding-bottom: 18px;
}

h2, h3 {
    margin-block-start: 0;
    margin-block-end: 0;
}

/* Section Text */

.section-text {
    /*grid-area: txt;*/
    margin: 0;
}
.section-text p {
    margin: 0;
    padding: 0 0 15px 0;
    text-align: left;
}

/* Section Project Title and List */

.section-projects {
    /*grid-area: prj;*/
}

.project-title {
    margin: 20px 0;
}

.list-title {
    margin: 12px 0;
}

.section-projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-gap: 15px;
    grid-auto-flow: dense;
    margin-bottom: 15px;
}

.project {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.project:hover {
    cursor: pointer;
}

.project-name {
    padding: 8px 15px 0 0;
}

.project a {
    color: var(--darkcolor);
    text-decoration: none;
}

.project:hover a {
    color: var(--suncolor);
}

.project img {
    display: block;
    width: 100%;
    vertical-align: top;
	line-height: 0;
	letter-spacing: 0;
	zoom: 1;
    transition: 0.1s;
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project:hover img {
    opacity: 0.8;
}

/* Section List (Publications) */

.section-list {
    grid-area: prl;
}

.section-list ul li {
    padding-bottom: 15px;
}

.section-list ul li .year {
    padding-right: 12px;
}

/* Break Line Dashed Top */

.break-line-container {
    width: 100%;
    text-align: center;
}

.break-line {
    display: inline-block;
    width: 152px;
    height: 2px;
    margin: 40px 0 30px 0;
}

/* TEACHING, SPEAKING, PRESS */

/* Page Section Container */

.page-section-container {
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 30px;
}

/* Page Section Image */

.page-section-image {
    display: block;
    margin-bottom: 10px;
}
.page-section-image img {
    display: block;
    max-width: 100%;
}

/* Section Text */

.page-section-text {
    margin: 0;
}
.page-section-text p {
    margin: 0;
    padding: 0 0 15px 0;
    text-align: left;
}
