/* Main Settings */

html {
}

body {
}

#bottom-margin {
    display: none;
}

#right-margin {
    /*display: none;*/
    width: 8px;
}

/* Breadcrumbs */

/*#breadcrumbs {*/
/*    position: fixed;*/
/*    top: 20px;*/
/*    left: 0px;*/
/*    z-index: 6;*/
/*}*/

/*#breadcrumbs-arrow {*/
/*}*/

/*.breadcrumbs-text {*/
/*    padding: 0 26px;*/
/*    position: relative;*/
/*    top: -2px;*/
/*}*/

/*.breadcrumbs-small-arrow {*/
/*}*/

/*#breadcrumbs-arrow-svg {*/
/*}*/

/*.breadcrumbs-arrow-style {*/
/*    fill: none;*/
/*    stroke: var(--darkcolor);*/
/*    stroke-width: 1;*/
/*}*/

/*#breadcrumbs-background {*/
/*    position: fixed;*/
/*    top: 8px;*/
/*    width: calc(100vw - 16px);*/
/*    height: 50px;*/
/*    z-index: 5;*/
/*    background-color: var(--lightcolor);*/
/*}*/

/* Main Container */

/*.main-container {*/
/*    margin: 100px 0 0 0;*/
/*    display: grid;*/
/*    grid-template-columns: 1fr repeat(8, 100px) 1fr;*/
/*    grid-template-rows: auto auto minmax(300px, auto) minmax(0, 1fr) 200px;*/
/*    grid-gap: 32px;*/
/*    grid-template-areas:*/
/*        ".  .  .  pl pl pl pl .  .  . "*/
/*        ".  .  .  in in in in .  .  . "*/
/*        ".  im im im im im im im im . "*/
/*        ".  ar ar ar .  tb tb il il . "*/
/*        "fo fo fo fo fo fo fo fo fo fo";*/
/*}*/

.main-container {
    grid-area: maincont;
    margin: 100px 0 0 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto auto minmax(300px, auto) minmax(0, 1fr);
    grid-gap: 50px;
    grid-template-areas:
        ".  .  pl pl pl pl .  . "
        "in in in in in in in in"
        "im im im im im im im im"
        "ar ar ar ar tb tb il il";
}

/* Pictolist */

.project-pictogram-list {
    grid-area: pl;
    width: auto;
    padding: 0 0 34px 0px;
}

.pictolist-item {
	fill: none;
	stroke: var(--darkcolor);
	stroke-width: 1.4;
	pointer-events: none;
}

.light-fill {
	fill: var(--lightcolor);
	stroke: none;
	pointer-events: auto;
}

.pictome-dot {
	stroke: none;
	fill: var(--darkcolor);
}

.sun-stroke-only {
    stroke: var(--suncolor);
    stroke-width: 1.5;
    cursor: pointer;
}

.pictome-dot-sun {
    fill: var(--suncolor);
    cursor: pointer;
}

/* Side List Elements */

.information-list {
    grid-area: il;
    margin: 8px 26px 0 0;
}
/* REF: .interface-text-article in base.css */
.information-list .interface-text-article {
    padding-bottom: 26px;
}

/* Article Image */

.article-image {
    grid-area: im;
    margin: 0;
}

.article-image img {
    display: block;
    width: 100%;
}

.image-underline {
    background-color: var(--suncolor);
    height: 8px;
    min-height: 8px;
    padding: 0;
    margin: 0 26px 30px 26px;
}

/* Thumbnail Images */

.thumbs {
    grid-area: tb;
    width: auto;
    display: block;
    text-align: center;
}

.thumbs img {
    /*display: block;*/
    margin: 8px 0px 16px 0px;
    width: 80%;
}

/* Text Elements */
/* Lead Intro Text */

.article-main-description {
    grid-area: in;
    font-size: 16pt;
    padding: 0 50px 0 50px;
    line-height: 1.5em;
    letter-spacing: 0.2pt;
}

.article-main-description .first-word-project-title {
    font-family: "Ambit-Bold", sans-serif;
}

.article-main-description a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 4px 2px;
    color: var(--darkcolor);
    padding-bottom: 1px;
    text-decoration: none;
    transition: background-size .13s;
}

.article-main-description a:hover {
    background-size: 2px 6px;
}

/* Article Text (Bellow the Image and the Lead) */

.article-text {
    grid-area: ar;
    padding-left: 50px;
    margin: 0;
}

.article-text p {
    margin: 0;
    font-size: 13pt;
    padding: 0 0px 16px 0px;
    line-height: 1.6em;
    letter-spacing: 0.2pt;
}

.article-text a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 3px 1px;
    color: var(--darkcolor);
    padding-bottom: 1px;
    text-decoration: none;
    transition: background-size .13s;
}

.article-text a:hover {
    background-size: 2px 5px;
}

.article-text sup {
    font-size: 8pt;
    line-height: 1;
}


