/* Main Container */

.main-container {
    grid-area: maincont;
    margin: 18px 0 120px 0;
    font-family: Ambit-Regular, sans-serif;
    min-height: calc(100vh - 220px);
}

/* Line Chart */

.linechart {
    grid-area: lc;
    height: 50px;
    stroke-width: 2;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.fill-bg {
    fill: var(--lightcolor);
}

.linechart .domain {
    stroke: var(--darkcolor);
    stroke-dasharray: 0, 9;
    stroke-linecap: round;
    stroke-width: 1.6;
}

.linechart .linechartLine {
    fill: none;
    stroke: var(--suncolor);
}

.linechart .linechartXaxis {
    font-family: CartographSans-Medium, monospace;
    font-size: 8pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
    color: var(--darkcolor);
}

.linechartCircle {
    fill: var(--suncolor);
    stroke: none;
}

/* Headings and Titles */

.list-heading {
    display: grid;
    grid-template-columns: 80px auto; /* calc(50% - 100px);*/
    margin: 100px 0 120px 0;
}

.title .criteria {
    /*font-family: CartographSans-Medium, monospace;*/
    font-family: Ambit-Regular, sans-serif;
    font-size: 14pt;
    line-height: 1.5em;
    letter-spacing: 0.2pt;
}

.title .name {
    /*font-family: Ambit-Bold, sans-serif;*/
    font-family: CartographSans-XBoldItalic, monospace;
    font-size: 20pt;
    line-height: 1.5em;
    /*letter-spacing: 0.1pt;*/
}

.title .description {
    font-family: Ambit-Regular, sans-serif;
    font-size: 14pt;
    line-height: 1.6em;
    letter-spacing: 0.2pt;
    width: calc(100% - 160px);
    margin: 30px 0 0 0;
}

.title .description .text a {
    background: linear-gradient(
            to bottom, var(--suncolor) 0%,
            var(--suncolor) 100%
    ) repeat-x 0 100%;
    background-size: 3px 2px;
    color: var(--darkcolor);
    padding-bottom: 3px;
    text-decoration: none;
    transition: background-size .13s;
}

.title .description .text a:hover {
    background-size: 2px 4px;
}

.title .description .list a {
    color: var(--darkcolor);
    text-decoration: none;
}

.title .description .list a:hover {
    color: var(--suncolor);
}

/* Pictogram Symbol */

.symbol {
    margin-top: 4px;
}

.pictolist-item {
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1.4;
    pointer-events: none;
}

.light-fill {
    fill: var(--lightcolor);
    stroke: none;
    pointer-events: auto;
}

.pictome-dot {
    stroke: none;
    fill: var(--suncolor);
}

.sun-stroke-only {
    stroke: var(--darkcolor);
    stroke-width: 1.5;
    cursor: pointer;
}

.pictome-dot-sun {
    fill: var(--darkcolor);
    cursor: pointer;
}

/* Project List */

.year-container {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto;
    margin-bottom: 25px;
}

.year-projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
    grid-auto-rows: auto;
    grid-gap: 15px;
    grid-auto-flow: dense;
}

.year-title {
    padding: 8px 0 0 0;
    margin-right: 15px;
    font-family: "CartographSans-Medium", monospace;
    font-size: 8pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}

.project {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    font-size: 11pt;
    line-height: 1.4em;
    letter-spacing: 0.2pt;
    display: block;
    box-sizing: border-box;
}

.featured {
    grid-column: span 2 !important;
    /*grid-row: span 2 !important;*/
}

.project:hover {
    cursor: pointer;
}

.project-name {
    padding: 8px 15px 0 0;
}

.project a {
    color: var(--darkcolor);
    text-decoration: none;
}

.project:hover a {
    color: var(--suncolor);
}

.dashed-top {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 8 2' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='1' cy='1' r='0.6' fill='1D1D1B'/></svg>");
    background-position: top;
    background-size: 8px 2px;
    background-repeat: repeat-x;
}

.project img {
    display: block;
    width: 100%;
    vertical-align: top;
	line-height: 0;
	letter-spacing: 0;
	zoom: 1;
    transition: 0.1s;
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.project:hover img {
    opacity: 0.8;
}

