/* Main Container */

.main-container {
    grid-area: maincont;
    margin: 18px 0 120px 0;
    min-height: calc(100vh - 220px);
}

/* Headings and Titles */

.list-heading {
    display: grid;
    grid-template-columns: 74px auto;
    margin: 80px 0 80px 0;
}

.title .description {
    width: calc(100% - 70px);
    margin: 12px 0 0 0;
}

.hovered {
    color: var(--suncolor) !important;
}

/* Pictogram Symbol */

.symbol {
    margin-top: 4px;
}

.pictolist-item {
    fill: none;
    stroke: var(--suncolor);
    stroke-width: 1.4;
    pointer-events: none;
}

.light-fill {
    fill: var(--lightcolor);
    stroke: none;
    pointer-events: auto;
}

.pictome-dot {
    stroke: none;
    fill: var(--suncolor);
}

.sun-stroke-only {
    stroke: var(--darkcolor);
    stroke-width: 1.5;
    cursor: pointer;
}

.pictome-dot-sun {
    fill: var(--darkcolor);
    cursor: pointer;
}

/* Project List */

.year-container {
    display: grid;
    grid-template-columns: 74px auto;
    grid-template-rows: auto;
    margin-bottom: 25px;
}

.year-projects {
    display: grid;
    grid-template-columns: repeat(5, 1fr);;
    grid-auto-rows: auto;
    grid-gap: 10px;
    grid-auto-flow: dense;
}

.year-title {
    padding: 8px 0 0 0;
    margin-right: 15px;
}

.project {
    grid-column: span 1;
    grid-row: span 1;
    width: 100%;
    display: block;
    box-sizing: border-box;
    position: relative;
}

.project a {
    color: var(--darkcolor);
    text-decoration: none;
}

.project:hover a {
    color: var(--suncolor);
}

.featured {
    grid-column: span 2 !important;
    /*grid-row: span 2 !important;*/
}

.project:hover {
    cursor: pointer;
}

.project-name {
    padding: 8px 15px 0 0;
}

.dashed-top {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 8 2' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='1' cy='1' r='0.6' fill='1D1D1B'/></svg>");
    background-position: top;
    background-size: 8px 2px;
    background-repeat: repeat-x;
}

.project img {
    display: block;
    width: 100%;
    vertical-align: top;
    line-height: 0;
    letter-spacing: 0;
    zoom: 1;
    transition: 0.1s;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    z-index: 2;
}

.project .overburn-container {
    position: relative;
    display: block;
    box-sizing: border-box;
}

.project .overburn-container .overburn {
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: .13s;
    border-bottom: 0 solid var(--suncolor);
}

.project:hover img {
    /*opacity: 0.8;*/
}

.project:hover .overburn {
    border-bottom: 6px solid var(--suncolor);
}

