/* Default Anchor */

main a {
    background: linear-gradient(0deg, var(--suncolor) 0%, var(--suncolor) 100%) repeat-x 0 100%;
    background-size: 3px 1px;
    color: var(--darkcolor);
    padding-bottom: 2px;
    text-decoration: none;
    transition: .13s;
}

main a:hover {
    background-size: 3px 3px;
}

/* Line Chart */

.linechart {
    grid-area: lc;
    height: 50px;
    stroke-width: 2;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.fill-bg {
    fill: var(--lightcolor);
}

.linechart .domain {
    stroke: var(--darkcolor);
    stroke-dasharray: 0, 9;
    stroke-linecap: round;
    stroke-width: 1.6;
}

.linechart .linechartLine {
    fill: none;
    stroke: var(--suncolor);
}

.linechart .linechartXaxis {
    font-family: CartographSans-Medium, monospace;
    font-size: 8pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
    color: var(--darkcolor);
}

.linechartCircle {
    fill: var(--suncolor);
    stroke: none;
}

/* Homepage Text */

.homepage-text-style {
    font-family: Ambit-Regular, sans-serif;
    font-size: 14pt;
    line-height: 1.5em;
    letter-spacing: 0.2pt;
}

.homepage-text-style a {
    background-size: 3px 2px;
}

.homepage-text-style a:hover,
.main-container .manual-hover {
    background-size: 2px 4px;
}

/* Title */

.title-style {
    font-family: Ambit-Bold, sans-serif;
    font-size: 32pt;
    letter-spacing: 0.2pt;
}


/* Lead, Main Description */

.lead-style {
    font-family: Ambit-Regular, sans-serif;
    font-size: 20pt;
    line-height: 1.5em;
    letter-spacing: 0.2pt;
}

/* Lead, Project Main Description */

.lead-project-style {
    font-family: Ambit-Regular, sans-serif;
    font-size: 15pt;
    line-height: 1.5em;
    letter-spacing: 0.2pt;
}

.lead-project-style a:hover {
    background-size: 3px 4px;
}

/* Section Title */

.section-title-style {
    font-family: Ambit-BoldItalic, sans-serif;
    font-size: 16pt;
    letter-spacing: 0.2pt;
    /*text-transform: uppercase;*/
}

/* Body Text */

.body-style, .body-style p {
    font-size: 12.5pt;
    line-height: 1.6em;
    letter-spacing: 0.2pt;
}

.author {
    line-height: 2.1em !important;
}

/* Project Name in List */

.project-name-in-list-style {
    font-size: 11pt;
    line-height: 1.4em;
    letter-spacing: 0.2pt;
}

/* Project Categories on Project Page */

.project-categories-style {
    font-family: CartographSans-Medium, monospace;
    font-size: 9pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}

/* Mask Caption */

.mask-caption-style {
    font-family: CartographSans-Medium, monospace;
    font-size: 8pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}

/* Quotes */

.tiny-quote-style {
    font-family: Ambit-Italic;
    font-size: 12pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}

.big-quote-style {
    font-family: CartographSans-XBoldItalic, monospace;
    font-size: 16pt;
    line-height: 1.5em;
    letter-spacing: 0.18pt;
    color: var(--darkcolor);
}

/* GoTo Button */

.goto-button-style {
    font-family: CartographSans-DemiBold, monospace;
    font-size: 9pt;
    line-height: 1.7em;
    letter-spacing: 0.18pt;
}

/* Portrait Photo Caption */

.portrait-photo-caption-style {
    font-family: Ambit-Regular, sans-serif;
    font-size: 11pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
    color: var(--darkcolor);
    text-align: end;
}


/* Page Image Caption */

.page-image-caption-style {
    font-family: Ambit-Regular, sans-serif;
    font-size: 10pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
    color: var(--darkcolor);
    text-align: end;
}

/* Project List – Titles and Description */

.prj-list-style .criteria {
    font-family: Ambit-Regular, sans-serif;
    font-size: 14pt;
    line-height: 1.5em;
    letter-spacing: 0.2pt;
}

.prj-list-style .name {
    font-family: Ambit-Bold, sans-serif;
    font-size: 17pt;
    line-height: 1.8em;
}

.prj-list-style .description {
    font-family: Ambit-Regular, sans-serif;
    font-size: 14pt;
    line-height: 1.6em;
    letter-spacing: 0.2pt;
}

.prj-list-style .description .list a {
    color: var(--darkcolor);
    background: var(--lightcolor);
    background-size: 3px 1px;
    text-decoration: none;
    transition: 0s;
}

.prj-list-style .description .list a:hover {
    /*color: var(--suncolor);*/
    background: linear-gradient(0deg, var(--suncolor) 0%, var(--suncolor) 100%) repeat-x 0 100%;
    background-size: 3px 2px;
}

/* Project List Year */

.interface-year-style {
    font-family: CartographSans-Medium, monospace;
    font-size: 8pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}

/* Name Aside + Breadcrumbs */

.breadcrumbs-style {
    font-family: CartographSans-DemiBold, monospace;
    font-size: 9.5pt;
    line-height: 1em;
}

.breadcrumbs-style a {
    color: var(--darkcolor);
    text-decoration: none;
}

.breadcrumbs-style a:hover {
    color: var(--lightcolor);
    text-decoration: none;
    cursor: pointer;
}

/* Main Menu */

.menu-style ul {
    font-family: Ambit-SemiBold, monospace;
    font-size: 13pt;
    line-height: 1.7em;
    letter-spacing: 0.18pt;
}
.menu-style ul li a {
    color: var(--darkcolor);
    text-decoration: none;
}
.menu-style ul li a:hover {
    color: var(--lightcolor);
    text-decoration: none;
}

/* Interface Heading */

.interface-heading-style {
    font-family: CartographMono-Heavy, monospace;
    font-size: 9pt;
    line-height: 1.7em;
    color: var(--darkcolor);
    text-transform: uppercase;
}

.interface-subheading-style {
    font-family: CartographSans-DemiBold, monospace;
    font-size: 8pt;
    text-transform: uppercase;
}

/* General Interface Text */

.interface-text {
    font-family: CartographSans-Medium, monospace;
    font-size: 9pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}
.interface-text a {
    color: var(--darkcolor);
}
.interface-text a:hover {
    text-decoration: none;
    color: var(--suncolor);
}

/* Interface Text, List Items, Links */

.interface-text-style {
    font-family: Ambit-Regular, sans-serif;
    font-size: 10.5pt;
    line-height: 1.5em;
    letter-spacing: 0.2pt;
}
.interface-text-style span {
    cursor: default;
}
.interface-text-style a {
    background: var(--lightcolor);
    color: var(--darkcolor);
    transition: .07s;
}
.interface-text-style a:hover {
    text-decoration: none;
    color: var(--suncolor);
}

/* Interface Footer */

.footer .interface-text-article {
    color: var(--lightcolor);
    padding-bottom: 26px;
    font-family: CartographSans-Medium, monospace;
    font-size: 9pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}

.footer .interface-text-article a {
    background: var(--darkcolor);
    color: var(--lightcolor);
    transition: .07s;
}

.footer .interface-text-article a:hover {
    color: var(--suncolor);
}

.footer .bio-style p {
    /*font-family: 'Ambit-Regular', sans-serif;*/
    font-family: CartographSans-Medium;
    color: var(--lightcolor);
    font-size: 9pt;
    line-height: 1.7em;
    letter-spacing: 0.2pt;
}

/* Interface List Items on a Page (not project) */

.interface-page-li-style {
    font-family: Ambit-Regular, sans-serif;
    font-size: 11pt;
    line-height: 1.6em;
    letter-spacing: 0.2pt;
}

/* Down Arrow, Dashed */

#down-arrow-svg line {
    fill: none;
    stroke: var(--darkcolor);
    stroke-width: 1.6;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 0, 8;
}
#down-arrow-svg polygon {
    fill: var(--darkcolor);
}

/* Dashed */

.dashed-top {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 8 2' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='1' cy='1' r='0.6' fill='1D1D1B'/></svg>");
    background-position: top;
    background-size: 8px 2px;
    background-repeat: repeat-x;
}

.dashed-right {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 2 8' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='1' cy='1' r='0.6' fill='1D1D1B'/></svg>");
    background-position: right;
    background-size: 2px 8px;
    background-repeat: repeat-y;
}

.dashed-left {
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 2 8' version='1.1' xmlns='http://www.w3.org/2000/svg'><circle cx='1' cy='1' r='0.6' fill='1D1D1B'/></svg>");
    background-position: left;
    background-size: 2px 8px;
    background-repeat: repeat-y;
}

/* Italic Style */

.italic-style {
    font-family: Ambit-Italic, sans-serif;
}

@media only screen and (max-width: 650px) {

    /*.footer .interface-heading-style {*/
        /*font-size: 10pt;*/
    /*}*/
    /*.footer .bio-style p,*/
    /*.footer .interface-text-article {*/
        /*font-size: 10pt;*/
    /*}*/

    .section-title-style {
        font-size: 19pt;
    }

    .lead-style {
        font-size: 16pt;
    }

    .portrait-photo-caption-style {
        font-size: 10pt;
    }

}