html, body {
    margin: 0;
    padding: 0;
    width: calc(100% - 80px);
    overflow: hidden;
}

body {
    margin: 80px;
}

/*#js-cont svg {*/
    /*fill: none;*/
    /*stroke: black;*/
    /*stroke-width: 2;*/
    /*stroke-linecap: round;*/
    /*stroke-linejoin: round;*/
/*}*/