<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static', filename='media/favicon/favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='space/era/era.css') }}">

    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='space/era/era.gameplay.js') }}"></script>

    <title>re:rematch multiples</title>

</head>
<body>

<main>

    <div id="js-cont"></div>

</main>

</body>
</html>