<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" type="image/png"
          href="{{ url_for('static', filename='media/favicon/favicon.ico') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='space/srm/srm.css') }}">

    <script src="{{ url_for('static', filename='js/lib/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='space/srm/srm.js') }}"></script>

    <title>Srećan rođendan, Branislava</title>

</head>
<body>

<main>

    <div id="container">
    </div>

</main>

</body>
</html>