:root {
    /* Colors */
    --suncolor: #FFB901;
    --main: #FFB901; /* red; */
}

::-moz-selection {
    background: var(--main);
}

::selection {
    background: var(--main);
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    overflow: hidden;
    letter-spacing: normal;
    font-size: 100%;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.side-content {
    background-color: black;
    color: white;
    letter-spacing: 0.045em;
    position: absolute;
    box-sizing: border-box;
}

aside {
    height: 100%;
    padding: 2vw 1.8vw;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    box-shadow: 0 0 1.2vw black;
}

footer {
    left: 0;
    bottom: 0;
    padding: 1.8vw 1.8vw;
    font-family: "TTNorms-Regular", sans-serif;
    font-size: 0.8vw;
    z-index: 10;
}

.hamburger {
    position: relative;
    width: .7vw;
    margin: 0 0 .3vw 0;
    cursor: pointer;
}

.hamburger rect {
    fill: var(--main);
}

.hamburger:hover rect {
    fill: white;
}

h1 {
    color: var(--main);
    font-family: "MonumentExtended-Ultrabold", sans-serif;
    font-size: 0.8vw;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin: 0;
    line-height: 1.4;
    cursor: pointer;
}

h1:hover {
    color: white;
}

h2 {
    font-family: "MonumentExtended-Regular", sans-serif;
    font-size: 2vw;
    letter-spacing: 0.0625em;
    margin: 0 0 .8vw 0;
}

h3, h4 {
    font-family: "TTNorms-Regular", sans-serif;
    font-size: .8vw;
    font-weight: normal;
    letter-spacing: 0.045em;
}

h3 {
    text-transform: uppercase;
    margin: 1vw 0 0 0;
}

h4 {
    margin: 0 0 1vw 0;
}

/* Africa Map SVG */

#africa-map {
    position: relative;
    width: 12vw;
    margin: 2vw 0 0 0;
}

#africa-map-base polyline, line, path {
    stroke: var(--main);
}

#africa-outline {
    stroke: white;
}

/* Footer */

footer p a {
    color: white;
    border-bottom: 1px solid darkgray;
    text-decoration: none;
}

footer p a:hover {
    /*color: lightgray;*/
    border-bottom: 1px solid white;
    text-decoration: none;
}

/* Main SVG with the Illustrated Map */

#main-map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

#main-map image {
    cursor: grab;
}

#main-map .mark {
    fill: var(--main);
    cursor: pointer;
    transition: .15s;
}

#main-map .mark:hover {
    r: 10;
}

#main-map .chapter {
    stroke: var(--main);
    stroke-width: 3;
    fill: none;
    cursor: pointer;
    transition: .15s;
}

#main-map .chapter:hover {
    stroke-width: 4;
    r: 12;
}

/* Language Controls */

.lang {
    position: absolute;
    right: 0;
    top: 4.5vh;
    padding: .8vh;
    margin: 0;
    background-color: black;
    box-shadow: 0 0 .2vw rgba(0, 0, 0, 0.8);
    z-index: 20;
}

.lang div {

    font-family: "TTNorms-Bold", sans-serif;
    font-size: .55vw;
    font-weight: normal;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    text-decoration: none;
    padding: .3vw;
    margin-right: 0;
    cursor: pointer;
}

.lang div a {
    color: white;
    text-decoration: none;
}

.lang div a:hover {
    color: var(--main);
    text-decoration: none;
}

/* Zoom Controls */

.controls {
    position: absolute;
    right: 1.2vw;
    bottom: 1.2vw;
    display: flex;
}

.controls svg {
    position: relative;
    padding: .7vw;
    margin: .2vw;
    width: .7vw;
    cursor: pointer;
    background-color: black;
    box-shadow: 0 0 .2vw rgba(0, 0, 0, 0.8);
}

.controls svg rect {
    fill: white;
}

.controls svg:hover {
    background-color: var(--main);
}

/* Notes */

.note {
    /*box-sizing: content-box;*/
    position: absolute;
    top: 8vh;
    right: 20vh;
    width: 20vw;
    height: 280px;
    background-color: var(--main);
    padding: 2vw 3vw 2vw 1.5vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;

    visibility: hidden;
}

.note p::-moz-selection {
    background: white;
}

.note p::selection {
    background: white;
}

.note p {
    color: black;
    font-family: "TTNorms-Medium", sans-serif;
    font-size: 1vw;
    padding: .3vw;
    line-height: 1.5;
}

.note p a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.note p a:hover {
    color: black;
    border-bottom: 2px solid black;
}

.note #note-x {
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 14px;
    fill: white;
    stroke: none;
    cursor: pointer;
}

.note #note-x:hover {
    fill: black;
}

/* Main Menu */

.main-menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 50;

    display: none;
}

/* Menu Header */

.main-menu .menu-header {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: 101;
    height: 5vw;
    width: 100vw;
    padding: 2vw 1.8vw;
    display: flex;
    justify-content: space-between;
}

.main-menu .menu-header #menu-x {
    position: relative;
    width: .9vw;
    text-align: end;
    cursor: pointer;
}

.main-menu .menu-header #menu-x path {
    fill: var(--main);
    stroke: none;
}

.main-menu .menu-header #menu-x:hover path {
    fill: white;
    stroke: none;
}

.main-menu .menu-header h1 {
    padding: 2px 0 0 0;
}

.main-menu .menu-header .lang {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    padding: 2px 0 0 0;
}

.main-menu .menu-header .lang div {
    font-size: .7vw;
    padding: 0 .3vw 0 .8vw;
}

.main-menu .menu-header .lang div a {
    color: var(--main);
}

.main-menu .menu-header .lang div a:hover {
    color: white;
}

/* Menu Body */

.main-menu .menu-body {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
    text-align: center;
    padding-top: 5vw;
    z-index: 60;
    align-self: center;

    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: auto 6vw auto auto;
    grid-gap: 1.2vw;
    grid-template-areas:
        "map ."
        "map mn1"
        "map mn2"
        "map .";
}

#africa-map-with-legend {
    grid-area: map;
    width: 25vw;
    justify-self: center;
    align-self: center;
    padding-bottom: 3vw;
}

/* Menu Blocks & Sections */

.menu-body .menu-upper {
    grid-area: mn1;
}

.menu-body .menu-lower {
    grid-area: mn2;
}

.menu-body .menu-block {
    width: 37vw;
    box-sizing: border-box;
    text-align: left;
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-section {
    box-sizing: border-box;
    padding: 2vw;
    line-height: 1.4;
}

.menu-h {
    color: black;
    font-family: "TTNorms-Bold", sans-serif;
    font-size: .7vw;
    font-weight: normal;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 .8vw 0;
    text-align: left;
}

.menu-items li a {
    text-align: left;
    color: white;
    font-size: 1vw;
    font-family: "MonumentExtended-Regular", sans-serif;
    letter-spacing: 0.0625em;
    text-decoration: none;
}

.menu-items li:hover a {
    color: black;
}

.menu-items li .ch {
    box-sizing: border-box;
    text-align: right;
    display: inline-block;
    color: white;
    width: 2.6vw;
    padding-right: 1vw;
    font-family: "TTNorms-Medium", sans-serif;
    font-size: .8vw;
}

.menu-items li:hover .ch {
    color: black;
}

.menu-body .to-right {
    padding-left: 2.6vw;
}

/* Flags */

.mobile {
    visibility: hidden;
    display: none;
}

.desktop {
    visibility: visible;
}

/* ___________________________________________________ */
/* MEDIA QUERIES */
/* Mobile */

@media only screen and (max-width: 950px) {

    /* Flags */
    .mobile {
        visibility: visible;
        display: inline;
    }

    .desktop {
        visibility: hidden;
        display: none;
    }

    /* Rules */
    html, body {
        overflow: auto;
    }

    .side-content {
        width: 100vw;
        position: absolute;
    }

    aside {
        top: 0;
        left: 0;
        height: 48px;
        padding: 15px;
    }

    footer {
        height: 35px;
        left: 0;
        bottom: 0;
        padding: 7px 15px 0 15px;
        font-size: 11px;
        box-shadow: 0 0 1.4vw black;
    }

    footer p {
        margin: 0;
        padding: 0;
    }

    aside #top {
        height: 10px;
        display: grid;
        grid-template-columns: 10vw 1fr 10vw;
    }

    .hamburger {
        width: 14px;
        height: 14px;
        margin: 0;
    }

    h1 {
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        padding-top: 3px;
        margin: 0;
        /*color: white;*/
    }

    aside #middle {
        visibility: hidden;
    }

    #main-map {
        position: absolute;
        left: 0;
        top: 0;
    }

    /* Lang Controls */
    .lang {
        display: none;
    }

    /* Zoom Controls */
    .controls {
        position: absolute;
        right: 10px;
        bottom: 16px;
        display: flex;
        z-index: 100;
    }

    .controls svg {
        position: relative;
        padding: 10px;
        margin: 4px;
        width: 16px;
    }

    /* Notes */
    .note {
        position: absolute;
        top: 75px;
        left: 15px;
        width: 70vw;
        height: 200px;
        padding: 28px 40px 26px 26px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .note p {
        font-size: 4vw;
        padding: .3vw;
        line-height: 1.4;
    }
}