:root {
    /* Colors */
    --suncolor: #FFB901;
    --main: #FFB901; /* red; */
}

::-moz-selection {
    background: var(--main);
}

::selection {
    background: var(--main);
}

html, body {
    margin: 0;
    padding: 0;
    /*background-color: white;*/
    overflow-x: hidden;
    letter-spacing: normal;
    font-size: 100%;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.side-content {
    background-color: black;
    color: white;
    letter-spacing: 0.045em;
    position: absolute;
    box-sizing: border-box;
}

aside {
    height: 100%;
    padding: 2vw 1.8vw;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    box-shadow: 0 0 1.2vw black;
}

footer {
    left: 0;
    bottom: 0;
    padding: 1.8vw 1.8vw;
    font-family: "TTNorms-Regular", sans-serif;
    font-size: .9vw;
    z-index: 10;
}

.hamburger {
    position: relative;
    width: .7vw;
    margin: 0 0 .3vw 0;
    cursor: pointer;
}

.hamburger rect {
    fill: var(--main);
}

.hamburger:hover rect {
    fill: white;
}

/* Map Page Heading Styles */

h1, h1 a {
    color: var(--main);
    font-family: "MonumentExtended-Ultrabold", sans-serif;
    font-size: 0.8vw;
    text-transform: uppercase;
    letter-spacing: 0.0625em;
    margin: 0;
    line-height: 1.4;
    cursor: pointer;
    text-decoration: none;
}

h1 a:hover {
    color: white;
}

h2 {
    font-family: "MonumentExtended-Regular", sans-serif;
    font-size: 2vw;
    letter-spacing: 0.0625em;
    line-height: 1.3;
    margin: 0 0 .8vw 0;
}

h3, h4 {
    font-family: "TTNorms-Regular", sans-serif;
    font-size: .9vw;
    font-weight: normal;
    letter-spacing: 0.045em;
}

h3 {
    text-transform: uppercase;
    margin: 1vw 0 .5vw 0;
}

h4 {
    margin: 0 0 1vw 0;
}

/* Africa Map SVG */

#africa-map {
    position: relative;
    width: 12vw;
    margin: 2vw 0 0 0;
}

#africa-map-base polyline, line, path {
    stroke: var(--main);
}

#africa-outline {
    stroke: white;
}

/* Footer */

footer p a {
    color: white;
    border-bottom: 1px solid darkgray;
    text-decoration: none;
}

footer p a:hover {
    /*color: lightgray;*/
    border-bottom: 1px solid white;
    text-decoration: none;
}

.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

/* Main SVG with the Illustrated Map */

#main-map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

#main-map image {
    cursor: grab;
}

#main-map .mark {
    fill: var(--main);
    cursor: pointer;
    transition: .15s;
}

#main-map .mark:hover {
    r: 10;
}

#main-map .chapter {
    stroke: var(--main);
    stroke-width: 3;
    fill: none;
    cursor: pointer;
    transition: .15s;
    r: 13
}

#main-map .chapter:hover {
    stroke-width: 4;
    r: 12;
}

#main-map .vertical-True {
    stroke-width: 2;
    r: 9
}

#main-map .vertical-True:hover {
    stroke-width: 3;
    r: 8.5;
}


/* Language Controls */

.lang {
    position: absolute;
    right: 0;
    top: 4.5vh;
    padding: .8vh;
    margin: 0;
    background-color: black;
    box-shadow: 0 0 .2vw rgba(0, 0, 0, 0.8);
    z-index: 20;
}

.lang div {

    font-family: "TTNorms-Bold", sans-serif;
    font-size: .55vw;
    font-weight: normal;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    text-decoration: none;
    padding: .3vw;
    margin-right: 0;
    cursor: pointer;
}

.lang div a {
    color: white;
    text-decoration: none;
}

.lang div a:hover {
    color: var(--main);
    text-decoration: none;
}

/* Zoom Controls */

.controls {
    position: absolute;
    right: 1.2vw;
    bottom: 1.2vw;
    display: flex;
}

.controls svg {
    position: relative;
    padding: .7vw;
    margin: .2vw;
    width: .7vw;
    height: .7vw;
    cursor: pointer;
    background-color: black;
    box-shadow: 0 0 .2vw rgba(0, 0, 0, 0.8);
}

.controls svg rect {
    fill: white;
}

.controls svg:hover {
    background-color: var(--main);
}

.controls #eye {
    padding: .4vw;
    height: 1.3vw;
    width: auto;
}

.controls #eye path {
    fill: none;
    stroke: white;
    stroke-width: .08vw;
}

.controls #eye circle {
    fill: white;
    stroke: none;
}

.controls #eye #eye-closed {
    display: none;
}

/* Notes */

.note {
    /*box-sizing: content-box;*/
    position: absolute;
    top: 8vh;
    right: 20vh;
    width: 20vw;
    height: 280px;
    background-color: var(--main);
    padding: 2vw 3vw 2vw 1.5vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 100;

    visibility: hidden;
}

.note p::-moz-selection {
    background: white;
}

.note p::selection {
    background: white;
}

.note p {
    color: black;
    font-family: "TTNorms-Medium", sans-serif;
    font-size: 1vw;
    padding: .3vw;
    line-height: 1.5;
}

.note p a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.note p a:hover {
    color: black;
    border-bottom: 2px solid black;
}

.note #note-x {
    position: absolute;
    top: 2vh;
    right: 2vh;
    width: 14px;
    fill: white;
    stroke: none;
    cursor: pointer;
}

.note #note-x:hover {
    fill: black;
}

/* ________________________________ */
/* Home Page and Prints Page */

.home-header {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    height: 5vw;
    width: 100vw;
    padding: 2vw 2.3vw 2vw 1.8vw;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.hamburger {
    pointer-events: all;
}

.home-header .hamburger rect {
    fill: white;
}

/*.home-header .hamburger.hovered rect,*/
/*.home-header .hamburger:hover rect {*/
/*    fill: var(--main);*/
/*}*/

/* Home Content */

.home-content {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 3vw 7vw;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    pointer-events: none;
}

.home-content .inner {
    box-sizing: border-box;
    width: 80vw;
    padding: 0 18vw 0 0;
    pointer-events: all;
}

.home-content .inner h4 {
    margin: 0;
    font-family: "MonumentExtended-Regular", sans-serif;
    font-size: 1.5vw;
    letter-spacing: 0.0625em;
    line-height: 1.6;
    padding: 3vw 5vw 1.4vw 0;
}

.home-content .inner .last-h4 {
    padding: 0 20vw 1.4vw 0;
}

.home-content .inner h4 a,
.home-content .inner h4 span {
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-bottom: .4vw solid var(--main);
    transition: .15s;
}

.home-content .inner h4 a:hover,
.home-content .inner h4 span:hover {
    color: var(--main);
    border-bottom: .7vw solid var(--main);
}

.prints-content .inner h6,
.home-content .inner h5,
.home-content .inner h6 {
    margin: 0;
    font-family: "MonumentExtended-Regular", sans-serif;
    font-size: 2.5vw;
    letter-spacing: 0.0625em;
    line-height: 1.6;
    padding: 0 5vw 1.4vw 0;
}

.home-content .inner h5 em,
.home-content .inner h6 em {
    color: var(--main);
    font-style: normal;
    font-family: "MonumentExtended-Ultrabold", sans-serif;
}

.home-content .inner h5 a,
.home-content .inner h6 a {
    color: white;
    border-bottom: 3px solid white;
    text-decoration: none;
}

.home-content .inner h6 a:hover,
.home-content .inner h5 a:hover {
    border-bottom: 4px solid var(--main);
}

.home-content .inner h6 {
    padding: 0 25vw 1.4vw 0;
    font-size: 1.5vw;
}

.prints-content .inner p,
.home-content .inner p {
    font-family: "TTNorms-Regular", sans-serif;
    font-size: 1.3vw;
    font-weight: normal;
    letter-spacing: 0.045em;
    padding: 0 25vw 0 0;
    line-height: 1.6;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.home-content .inner img {
    width: 100%;
    margin: 0;
}

.prints-content .inner p a,
.home-content .inner p a {
    color: white;
    border-bottom: 2px solid white;
    text-decoration: none;
    transition: .1s;
}

.prints-content .inner p a:hover,
.home-content .inner p a:hover {
    border-bottom: 2px solid var(--main);
}

.home-content .inner p b {
    /*color: var(--main);*/
    font-family: "TTNorms-Bold", sans-serif;
    font-weight: 900;
}

/* Home Header */

.home-header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 20;
}

/* Home Background */

.map-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 10000%;
    z-index: 1;
}

.map-background img {
    width: 100%;
}

/* Prints Page Styles */

.prints-content {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0 8vw 0 50vw;
    z-index: 10;
    pointer-events: none;
}

.prints-content .inner {
    pointer-events: all;
    padding: 0 0 0 1vw;
}

.prints-content .inner h6 {
    padding: 0 0 1vw 0;
    font-size: 1.5vw;
    line-height: 1.4;
}

.prints-content .inner p {
    /*font-family: "TTNorms-Medium", sans-serif;*/
    font-weight: normal;
    font-size: 1.3vw;
    padding: 0;
    line-height: 1.5;
}

.prints-content .inner p a {
    color: black;
    border-bottom: 1px black solid;
}

.prints-content .inner .email {
    font-family: "MonumentExtended-Regular", sans-serif;
    font-size: 1vw;
    padding-top: .8vw;
}

.prints-maps {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 1vw 0 1vw 4.5vw;
    width: 100vw;
    height: auto;
    display: block;
    overflow-y: auto;
    pointer-events: none;
}

.prints-maps .map-img {
    position: relative;
    margin: 1vw 0;
    width: 43vw;
    display: block;
    pointer-events: all;
}

.prints-maps a {
    color: black;
    text-decoration: none;
}

.prints-maps .map-img img {
    position: relative;
    width: 100%;
    transition: .15s;
}

.prints-maps a .map-img .map-caption {
    font-family: "TTNorms-Regular", sans-serif;
    font-weight: normal;
    font-size: 1vw;
    padding: 0;
    line-height: 1.5;
}

.prints-maps .map-img:hover .map-caption {
    color: var(--main);
}

.prints-maps .map-img:hover img {
    opacity: .8;
}

/* Menu Yellower */

.yellower {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 19; /*49*/
    transition: .15s;
    pointer-events: none;
}

.yellower svg circle {
    fill: var(--main);
    stroke: none;
}

/* ________________________________ */
/* Main Menu */

.main-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 50;

    display: none;
}

/* Menu Header */

.main-menu .menu-header {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 101;
    height: 5vw;
    width: 100vw;
    padding: 2vw 2.3vw 2vw 1.8vw;
    display: flex;
    justify-content: space-between;
}

.main-menu .menu-header #menu-x {
    position: relative;
    width: .9vw;
    text-align: end;
    cursor: pointer;
}

.main-menu .menu-header #menu-x path {
    fill: white; /* var(--main); */
    stroke: none;
}

.main-menu .menu-header #menu-x:hover path {
    fill: black;
    stroke: none;
}

.main-menu .menu-header h1 {
    font-size: 1.1vw;
}

.main-menu .menu-header h1:hover {
    color: black;
}

.home-header .lang,
.main-menu .menu-header .lang {
    display: flex;
    position: relative;
    top: 0;
    left: 0;
    padding: 2px 0 0 0;
    background-color: transparent; /* var(--main); */
    box-shadow: none;
    pointer-events: all;
}

.home-header .lang div,
.main-menu .menu-header .lang div {
    font-size: .7vw;
    padding: 0 .3vw 0 .8vw;
}

.home-header .lang div a,
.main-menu .menu-header .lang div a {
    color: white;
}

.home-header .lang div a:hover {
    color: var(--main);
}

.main-menu .menu-header .lang div a:hover {
    color: black;
}

/* Menu Body */

.main-menu .menu-body {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--main);
    text-align: center;
    padding-top: 1vw;
    z-index: 60;
    align-self: center;

    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-template-rows: auto 6vw auto auto;
    grid-gap: 1.2vw;
    grid-template-areas:
        "map ."
        "map mn1"
        "map mn2"
        "map .";
}

#africa-map-with-legend {
    grid-area: map;
    width: 25vw;
    justify-self: center;
    align-self: center;
    padding-bottom: 3vw;
}

/* Menu Blocks & Sections */

.menu-body .menu-upper {
    grid-area: mn1;
}

.menu-body .menu-lower {
    grid-area: mn2;
}

.menu-body .menu-block {
    width: 42vw;
    box-sizing: border-box;
    text-align: left;
    justify-self: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.menu-section {
    box-sizing: border-box;
    padding: 2vw;
    line-height: 1.4;
}

.menu-h {
    color: black;
    font-family: "TTNorms-Bold", sans-serif;
    font-size: .7vw;
    font-weight: normal;
    letter-spacing: 0.045em;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 .8vw 0;
    text-align: left;
}

.menu-items li a {
    text-align: left;
    color: white;
    font-size: 1vw;
    font-family: "MonumentExtended-Regular", sans-serif;
    letter-spacing: 0.0625em;
    text-decoration: none;
}

.menu-items li:hover a {
    color: black;
}

.menu-items li .ch {
    box-sizing: border-box;
    text-align: right;
    display: inline-block;
    color: white;
    width: 2.6vw;
    padding-right: 1vw;
    font-family: "TTNorms-Medium", sans-serif;
    font-size: .8vw;
}

.menu-items li:hover .ch {
    color: black;
}

.menu-body .to-right {
    padding-left: 2.6vw;
}

/* Flags */

.mobile {
    visibility: hidden;
    display: none;
}

.desktop {
    visibility: visible;
}

/* ___________________________________________________ */
/* MEDIA QUERIES */
/* Mobile */

@media only screen and (max-width: 950px) {

    /* Flags */
    .mobile {
        visibility: visible;
        display: inline;
    }

    .desktop {
        visibility: hidden;
        display: none;
    }

    /* Rules */
    html, body {
        overflow: auto;
    }

    .side-content {
        width: 100vw;
        position: absolute;
    }

    aside {
        top: 0;
        left: 0;
        height: 48px;
        padding: 15px;
    }

    footer {
        height: 35px;
        left: 0;
        bottom: 0;
        padding: 7px 15px 0 15px;
        font-size: 11px;
        box-shadow: 0 0 1.4vw black;
    }

    footer p {
        margin: 0;
        padding: 0;
    }

    aside #top {
        height: 10px;
        display: grid;
        grid-template-columns: 10vw 1fr 10vw;
    }

    .hamburger {
        width: 14px;
        height: 14px;
        margin: 0;
    }

    h1, h1 a,
    h1 a:link, h1 a:visited, h1 a:active {
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
        padding-top: 3px;
        margin: 0;
        color: var(--main) !important;
        text-decoration: none !important;
    }

    aside #middle {
        visibility: hidden;
    }

    #main-map {
        position: absolute;
        left: 0;
        top: 0;
    }

    /* Lang Controls */
    .lang {
        display: none;
    }

    /* Zoom Controls */
    .controls {
        position: absolute;
        right: 10px;
        bottom: 16px;
        display: flex;
        z-index: 40;
    }

    .controls svg {
        position: relative;
        padding: 10px;
        margin: 4px;
        width: 16px;
        height: 16px;
    }

    .controls #eye {
        padding: 5px;
        height: 26px;
        width: auto;
    }

    .controls #eye path {
        fill: none;
        stroke: white;
        stroke-width: 1px;
    }

    .controls #eye circle {
        fill: white;
        stroke: none;
    }

    .controls #eye #eye-closed {
        display: none;
    }

    /* Notes */
    .note {
        position: absolute;
        top: 75px;
        left: 15px;
        width: 70vw;
        height: 200px;
        padding: 28px 40px 26px 26px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    .note p {
        font-size: 4vw;
        padding: .3vw;
        line-height: 1.4;
    }

    /* Main Menu */
    .main-menu {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        /*height: auto;*/
        overflow-x: hidden;
        overflow-y: visible;
    }

    .main-menu::-webkit-scrollbar {
        width: 5px;
    }

    .main-menu::-webkit-scrollbar-track {
        background: white;
    }

    .main-menu::-webkit-scrollbar-thumb,
    .main-menu::-webkit-scrollbar-thumb:hover {
        background: #e0a400;
    }

    .main-menu .menu-header {
        height: 48px;
        padding: 15px;
    }

    .main-menu .menu-header #menu-x {
        width: 15px;
    }

    /* Menu Body */
    .main-menu .menu-body {
        padding: 30px;
        display: grid;
        overflow-y: visible;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 10px repeat(3, auto) 10px; /*auto auto auto auto auto;*/
        grid-gap: 7px;
        grid-template-areas:
            "."
            "mn1"
            "map"
            "mn2"
            ".";
    }

    #africa-map-with-legend {
        grid-area: map;
        width: 70%;
        justify-self: left;
        padding: 7px 0 28px 0;
    }

    .menu-body .menu-lower {
        grid-area: mn2;
        margin-bottom: 30px;
    }

    .menu-body .menu-block {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 4px;
    }

    .menu-section {
        line-height: 1.5;
    }

    .menu-h {
        font-size: 12px;
        font-weight: normal;
        padding: 0 0 7px 0;
    }

    .menu-items li a {
        font-size: 16px;
    }

    .menu-items li:hover a {
        color: black;
    }

    .menu-items li .ch {
        width: 36px;
        padding-right: 10px;
        font-size: 13px;
    }

    .menu-body .to-right {
        padding-left: 0;
    }

    /* Home Page and Prints Page */
    .main-menu .menu-header {
        height: 48px;
        padding: 15px;
    }

    .main-menu .menu-header #menu-x {
        width: 15px;
    }

    .home-header {
        height: 48px;
        width: 100vw;
        padding: 15px;
    }

    .home-header .lang div,
    .main-menu .menu-header .lang div {
        font-size: 10px;
        padding: 0 2px 0 10px;
    }

    .home-content .inner {
        box-sizing: border-box;
        width: 100vw;
        padding: 0 5vw;
    }

    .home-content .inner h4 {
        font-size: 16px;
        line-height: 1.7;
        padding: 36px 0 0 0;
    }

    .home-content .inner .last-h4 {
        padding: 0;
    }

    .home-content .inner h4 a,
    .home-content .inner h4 span {
        border-bottom: 2px solid var(--main);
    }

    .home-content .inner h4 a:hover,
    .home-content .inner h4 span:hover {
        border-bottom: 3px solid var(--main);
    }

    .home-content .inner h5 {
        font-size: 20px;
    }

    .home-content .inner h6 {
        padding: 0;
        font-size: 16px;
    }

    .prints-content .inner p,
    .home-content .inner p {
        font-family: "TTNorms-Regular", sans-serif;
        font-size: 14px;
        padding: 0;
    }

    /* Prints Page */
    .prints-content {
        position: relative;
        width: 100vw;
        height: auto;
        margin: 0;
        padding: 160px 12vw 100px 12vw;
    }

    .prints-content .inner {
        padding: 0;
    }

    .prints-content .inner h6 {
        padding: 0 0 1vw 0;
        font-size: 16px;
    }

    .prints-content .inner p {
        font-size: 17px;
        padding: 0;
    }

    .prints-content .inner .email {
        font-size: 13px;
        padding-top: 4px;
    }

    .prints-maps {
        position: relative;
        padding: 1vw 4vw 30px 4vw;
        width: 100vw;
    }

    .prints-maps img {
        position: relative;
        width: 100%;
    }

    .prints-maps .map-img {
        position: relative;
        margin: 0 0 15px 0;
        width: 100%;
    }

    /*.prints-maps .map-img img {*/
    /*    position: relative;*/
    /*    width: 100%;*/
    /*    transition: .15s;*/
    /*}*/

    .prints-maps a .map-img .map-caption {
        font-size: 14px;
        padding: 0;
    }

    .white-back-mobile {
        background-color: white;
        box-shadow: 0 0 25px white;
    }

}