{% extends "svesvrstani/svesvrstani-base.html" %}

{% block head %}

    <meta property="og:title" content="{{ lp.main_title }} → {{ params.title.name }}">
    <meta property="og:description" content="{{ params.lead|striptags }}">
    {% set main_img_path = 'space/svesvrstani/media/og-image.jpg' %}
    <meta property="og:image" content="{{ 'https://krcadinac.com/static/' ~ main_img_path }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename=main_img_path) }}"/>
    <meta property="og:url" content="{{ 'https://krcadinac.com' ~ lp.menu.base.name }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@krcadinac"/>
    <meta name="twitter:title" content="{{ lp.main_title }} → {{ params.title.name }}"/>
    <meta name="twitter:description" content="{{ params.lead|striptags }}"/>
    <meta name="twitter:image" content="{{ url_for('static', filename=main_img_path) }}"/>

    <title>{{ lp.main_title }} → {{ params.title.name }}</title>

{% endblock %}

{% set lang_link = lp.lang_info.counter_lang ~ params.address %}
{#{% set lang_link = lp.lang_info.counter_lang %}#}
{% block langlinkage %}
    {{ super() }}
{% endblock %}


{% block body %}

    <main class="list-page">

        <div class="list-heading">
            <div class="breadcrumbs">
                <a href="{{ lp.menu.base.address }}">{{ lp.main_title }}</a> →
            </div>
            <h1 class="list-h">{{ params.title.name }}</h1>
            <h2 class="list-h">{{ params.lead|safe }}</h2>
        </div>

        <div class="list-content">

            <h1 class="subgroup-h">{{ params.subtitles.first }}</h1>

            <div class="page-list">
                {% for p in list.first %}
                    {% set lnk = lp.menu.base.address ~ p.address  %}
                    <a href="{{ lnk }}" class="single-item-anchor">
                        <div class="single-item">
                            {% set st = p.title.subtitle ~ ", " ~ p.year %}
                            {% set item_image = "space/svesvrstani/media/thumbs/" ~ p.thumb %}
                            <div class="item-image">
                                <img src="{{ url_for('static', filename=item_image) }}" alt="svesvrstani all-aligned">
                            </div>
                            <div class="item-title">{{ p.title.name }}</div>
                            <div class="item-subtitle">{{ st }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            <h1 class="subgroup-h">{{ params.subtitles.second }}</h1>

            <div class="page-list">
                {% for p in list.second %}
                    {% set lnk = lp.menu.base.address ~ p.address  %}
                    <a href="{{ lnk }}" class="single-item-anchor">
                        <div class="single-item">
                            {% set st = p.title.subtitle ~ ", " ~ p.year %}
                            {% set item_image = "space/svesvrstani/media/thumbs/" ~ p.thumb %}
                            <div class="item-image">
                                <img src="{{ url_for('static', filename=item_image) }}" alt="svesvrstani all-aligned">
                            </div>
                            <div class="item-title">{{ p.title.name }}</div>
                            <div class="item-subtitle">{{ st }}</div>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>

    </main>

{% endblock %}