html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

main {
    position: relative;
    height: 100%;
    background: rgb(255, 57, 117);
    background: linear-gradient(0deg, rgba(255, 57, 117, 1) 0%, rgba(106, 33, 213, 1) 100%);
}

svg g path {
    fill: white;
}

#cestitka {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.st1 {
    opacity: 0;
    transition: 0.14s;
}

/*.st1:hover {*/
/*    opacity: 1;*/
/*}*/