<html>
<head>
    <style>

        h1 {
            font-size: x-large;
        }

        h2 {
            font-size: small;
        }

        .lead {
            font-size: larger;
        }

        .title-bold {
            font-weight: 900;
            color: #FFB901;
        }

    </style>
</head>
<body>

    <h1>{{ post.title }}</h1>

    <h2>{{ post.date }}</h2>

    <div class="lead">
        {{ post.lead|safe }}
    </div>

    <main>
        {{ post.html|safe }}
    </main>

</body>
</html>







