{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generic_page.css') }}">
{% endblock %}

{% block content %}

    <div class="generic-center-container">

        {% block main_container %}
        {% endblock %}

        <div class="footer">

            <div class="menu">

                <div class="menu-inside">
                    <div class="interface-heading-style interface-heading-article">{{ params.menu.title }}</div>
                    <div class="interface-text-article no-padding-bottom">
                        {% for item in params.menu_items %}
                            {% set slash = " / " %}
                            {% if loop.index == params.menu_items|length %}
                                {% set slash = "" %}
                            {% endif %}
                            <a href="{{ item.link }}">{{ item.title }}</a>{{ slash }}
                        {% endfor %}
                    </div>
                </div>

            </div>

            <div class="social">
                <div class="social-inside">

                    {% block footer_social %}
                        <div class="interface-heading-style interface-heading-article">{{ params.menu.social }}</div>
                        <div class="interface-text-article no-padding-bottom">
                            <a href="https://github.com/parthenocissus" target="_blank">GitHub</a> /
                            <a href="https://www.facebook.com/uros.krcadinac" target="_blank">Facebook</a> /
                            <a href="https://fmk.singidunum.ac.rs/profesori/uros-krcadinac/" target="_blank">FMK</a> /
                            <a href="http://www.klubputnika.org/autori/uros.krcadinac" target="_blank">Klub putnika</a> /
                            <a href="https://vimeo.com/user11041734" target="_blank">Vimeo</a> /
                            <a href="https://www.youtube.com/user/uroskrcadinac" target="_blank">YouTube</a> /
                            <a href="https://dblp.org/pers/k/Krcadinac:Uros.html" target="_blank">dblp</a> /
                            <a href="https://www.goodreads.com/author/show/4042519.Uro_Kr_adinac" target="_blank">GoodReads</a>
                        </div>
                    {% endblock %}

                </div>
            </div>

            <div class="footer-pictogram">

                <div class="main-pictome">
                    <svg id="pictome-svg" tooltip-text="All Projects" width="57px" height="106px"
                         preserveAspectRatio="xMidYMin meet">
                        <g id="pictome-g" transform="translate(0,0) scale(3.1)">
                            <rect id="pictome-bg" x="0" y="0" height="100%" width="100%"></rect>
                            <circle id="head" class="pictome" cx="8.5" cy="5.131" r="3.614"></circle>
                            <circle id="dot" class="pictome-dot" cx="8.5" cy="17.5" r="0"></circle>
                            <path id="arm1" stroke-linejoin="round" class="pictome"
                                  d="M0.066,12.942c0.601,0,7.435,0,8.601,0 s7.716,0,8.399,0"></path>
                            <path id="arm2" stroke-linejoin="round" class="pictome"
                                  d="M0.066,12.942c0.601,0,7.435,0,8.601,0 s7.716,0,8.399,0"></path>
                            <path id="leg1" stroke-linejoin="round" class="pictome"
                                  d="M1.153,34.434 c0.28-0.635,7.486-16.977,7.486-16.977S15.628,33.7,15.98,34.434"></path>
                            <path id="leg2" stroke-linejoin="round" class="pictome"
                                  d="M1.153,34.434 c0.28-0.635,7.486-16.977,7.486-16.977S15.628,33.7,15.98,34.434"></path>
                        </g>
                    </svg>

                </div>
            </div>

            <div class="bio bio-style">
                <div class="bio-inside">
                    {% block footer_bio %}
                        <p>{{ params.bio.homepage|safe }}</p>
                        <p class="no-padding-bottom">{{ params.contact.title }}: uros @ krcadinac.com</p>
                    {% endblock %}
                </div>
            </div>

        </div>

        <div class="footer-margin-left"></div>
        <div class="footer-margin-right"></div>

    </div>

{% endblock %}