{% extends "base.html" %}

{% block head %}

    {{ super() }}

    <meta property="og:title" content="{{ 'Uroš Krčadinac' ~ params.page_title.homepage }}">
    <meta property="og:description" content="{{ params.bio.homepage|striptags }}">
    {% set main_img_path = "media/pages/krcadinac_home_image.jpg" %}
    <meta property="og:image" content="{{ url_for('static', filename=main_img_path) }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename=main_img_path) }}" />
    <meta property="og:url" content="{{ 'https://krcadinac.com' ~ params.paths.home }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

{% endblock %}

{% block content %}

    <div class="main-container">

{#        <div class="main-pictome">#}
{#        </div>#}

        <div class="short-bio homepage-text-style" title="{{ params.tooltip.bio_index }}">
            {% block index_bio %}
                {{ params.bio.homepage|safe }}
            {% endblock %}
        </div>

        <div class="flowerchart">
        </div>

        <div class="linechart-index">
        </div>

    </div>

{% endblock %}

{% block jscript %}
    <script>

        chartUtility.createFlowerchart(chartUtility.getFlowerParamsIndex());
        chartUtility.createLinechart(chartUtility.getLinechartParamsIndex());
        chartUtility.drawLineChart();
        chartUtility.setPeriodicalAnimation(chartUtility.getPeriodicalAnimationParamsIndex());

    </script>
{% endblock %}