{% extends "generic_page.html" %}

{% block title %} → {{ project.title.name }}{% endblock %}

{% block head %}

    {{ super() }}

    <meta property="og:title" content="{{ 'Uroš Krčadinac → ' ~ project.title.name }}">
    <meta property="og:description" content="{{ project.lead|striptags }}">
    {% set main_img_path = "media/notes/" ~ project.id ~ "/" ~ project.id ~ "-main.jpg" %}
    {% set thumb_img_path = "https://krcadinac.com/static/media/notes/" ~ project.id ~ "/" ~ project.id ~ "-main.jpg" %}
    <meta property="og:image" content="{{ url_for('static', filename=main_img_path) }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename=main_img_path) }}"/>
    <meta property="og:url" content="{{ 'https://krcadinac.com' ~ params.notes_data.path ~ project.id }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@krcadinac"/>
    <meta name="twitter:title" content="{{ 'Uroš Krčadinac → ' ~ project.title.name }}"/>
    <meta name="twitter:description" content="{{ project.lead|striptags }}"/>
    <meta name="twitter:image" content="{{ thumb_img_path }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/note.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/default-skin.css') }}">

    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/photoswipe.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/photoswipe-ui-default.min.js') }}"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    {% if project.js is defined %}
        {% for path in project.js %}
            {% set full_path = "js/" ~ path %}
            <script src="{{ url_for('static', filename=full_path) }}"></script>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block breadcrumbs %}
    {% set this_project_path = params.notes_data.path ~ project.id %}
    {% set this_project_title = project.title.short if project.title.short is defined else project.title.name %}
    <mark>⟶</mark>
    <a href="{{ params.notes_data.path }}">{{ params.notes_data.name }}</a>
    <mark>⟶</mark>
    <a href="{{ this_project_path }}">{{ this_project_title }}</a>
{% endblock %}

{% block lang_link %}{{ params.pages_captions.notes_lang_link ~ project.id }}{% endblock %}

{% block main_container %}

    <div class="main-container">

        <div title="{{ params.tooltip.linechart }}" id="header-linechart" class="linechart"></div>

        <div class="note-date-style note-date">
            <a href='{{ params.notes_data.path }}'>{{ params.notes_data.name }}</a>
            <span>| {{ project.proper_date }}</span>
        </div>

        <div class="project-title title-note-style">
            {% set title = project.title.html if project.title.html is defined else project.title.name %}
            {{ title|safe }}
        </div>

        <div class="article-main-description lead-project-style">
            {{ project.lead|safe }}
        </div>

        <div class="image-row">
            {% if project.featured_video is defined %}
                {{ project.featured_video|safe }}
            {% elif project.js is defined and project.jsimage is defined %}
                <div id="js-cont"></div>
            {% else %}
                {% set main_img_path = "media/notes/" ~ project.id ~ "/" ~ project.id ~ "-main.jpg" %}
                <div class="gallery"
                     itemscope itemtype="http://schema.org/ImageGallery">
                    <figure class="overburn-container"
                            itemprop="associatedMedia" itemscope
                            itemtype="http://schema.org/ImageObject"
                            title="{{ params.project_captions.gallery_tooltip.start }}">
                        <a href="{{ url_for('static', filename=main_img_path) }}"
                           data-size="{{ project.main_img_data.size }}"
                           itemprop="contentUrl"
                           data-index="1"
                           caption="{{ project.main_img_data.caption }}">
                            <img src="{{ url_for('static', filename=main_img_path) }}"
                                 itemprop="thumbnail">
                            <div class="overburn"></div>
                        </a>
                    </figure>
                </div>
                {# <img src="{{ url_for('static', filename=main_img_path) }}"> #}
            {% endif %}
        </div>

        <div class="content-container">

            <div class="share-interface">

                <div class="share-title interface-share-button-style">
                    Share
                </div>

                <div class="share-button" id="fb-share-button">
                    <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                        <path class="svg-icon-path"
                              d="M9.1,0.1V2H8C7.6,2,7.3,2.1,7.1,2.3
                              C7,2.4,6.9,2.7,6.9,3
                              v1.4H9L8.8,6.5H6.9V12H4.7
                              V6.5H2.9V4.4h1.8V2.8
                              c0-0.9,0.3-1.6,0.7-2.1
                              C6,0.2,6.6,0,7.5,0
                              C8.2,0,8.7,0,9.1,0.1z"></path>
                    </svg>
                </div>


                <a class="uros-twitter-share-button"
                   href="https://twitter.com/intent/tweet?url={{ 'https://krcadinac.com' ~ params.notes_data.path ~ project.id }}&text=Uroš%20Krčadinac%20Website"
                   data-url="{{ 'https://krcadinac.com' ~ params.notes_data.path ~ project.id }}"
                   data-size="large">

                    <div class="share-button" id="tw-share-button">
                        <svg viewBox="0 0 12 12" preserveAspectRatio="xMidYMid meet">
                            <path class="svg-icon-path"
                                  d="M3.757,10.762c4.53,0,7.007-3.758,7.007-7.009c0-0.104,0-0.212-0.004-0.317
	C11.24,3.09,11.66,2.652,11.99,2.158c-0.44,0.196-0.918,0.327-1.417,0.388c0.51-0.302,0.898-0.788,1.087-1.364
	c-0.477,0.284-1.006,0.485-1.567,0.596C9.642,1.298,9.002,1,8.298,1c-1.36,0-2.466,1.104-2.466,2.464
	c0,0.191,0.025,0.378,0.063,0.561c-2.045-0.1-3.861-1.084-5.077-2.574C0.605,1.816,0.486,2.239,0.486,2.69
	c0,0.856,0.437,1.61,1.095,2.052C1.178,4.727,0.798,4.617,0.466,4.435c0,0.009,0,0.02,0,0.032c0,1.191,0.851,2.191,1.974,2.417
	C2.235,6.941,2.019,6.971,1.792,6.971c-0.158,0-0.312-0.014-0.461-0.043c0.312,0.98,1.225,1.691,2.301,1.711
	C2.787,9.301,1.726,9.695,0.572,9.695c-0.197,0-0.394-0.01-0.586-0.033C1.072,10.352,2.369,10.762,3.757,10.762
                            "></path>
                        </svg>
                    </div>
                </a>

            </div>

            <div class="column-1">
                <article class="article-text body-style">
                    {% for block in project.content %}

                        {% if block.type == "txt" %}
                            {{ block.html|safe }}
                        {% else %}

                            <div class="thumbs">
                                <div class="gallery"
                                     style="{{ block.grid_rules }}"
                                     itemscope itemtype="http://schema.org/ImageGallery">
                                    {% for d in block.img_data %}
                                        {% set i = loop.index - 1 %}
                                        {% set img_path =
                                        "media/notes/" ~ project.id ~ "/img/"  ~ d.file_name %}
                                        <figure class="overburn-container"
                                                itemprop="associatedMedia" itemscope
                                                itemtype="http://schema.org/ImageObject"
                                                title="{{ params.project_captions.gallery_tooltip.start }}">
                                            <a href="{{ url_for('static', filename=img_path) }}"
                                               data-size="{{ d.size }}"
                                               itemprop="contentUrl" data-index="{{ i }}" caption="{{ d.caption }}">
                                                <img src="{{ url_for('static', filename=img_path) }}"
                                                     itemprop="thumbnail">
                                                <div class="overburn"></div>
                                            </a>
                                        </figure>
                                    {% endfor %}

                                </div>
                            </div>

                        {% endif %}

                    {% endfor %}
                </article>
            </div>

            <div class="side-space">
                <div class="sidenotes">
                    {% for sidenote in project.sidenotes %}
                        <div id="{{ 'sidenote' ~ loop.index }}" class="sidenote">
                            <div id="{{ 'sidenote-symbol' ~ loop.index }}"
                                 class="side-symbol">
                            </div>
                            <div id="{{ 'sidenote-txt' ~ loop.index }}"
                                 class="sidenote-text-style">
                                {{ sidenote.html|safe }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>


{% endblock %}

{% block lightbox_section %}

    <!-- PhotoSwipe Markup -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscript %}
    <script>
        (function () {

            baseUtility.baseSetup();
            chartUtility.setLangParams({{ params|tojson }});
            chartUtility.setPeriodicalAnimation();
            baseUtility.lightboxSetup();

            window.onresize = function () {
                baseUtility.resetMenu();
                baseUtility.baseSetup();
                chartUtility.setLangParams({{ params|tojson }});
                $(window).bind("load", function () {
                    baseUtility.noteSetup();
                });
            };

            $(window).bind("load", function () {
                baseUtility.noteSetup();
            });

        }());
    </script>
{% endblock %}