{% extends "generic_page.html" %}

{% block title %} → {{ params.tooltip.projects_index_general }}{% endblock %}

{% block head %}

    {{ super() }}

    <meta property="og:title" content="{{ 'Uroš Krčadinac → ' ~ params.menu_items[1].title }}">
    <meta property="og:description" content="{{ data.description|striptags }}">
    {% set main_img_path = "media/pages/krcadinac_home_image.jpg" %}
    <meta property="og:image" content="{{ url_for('static', filename=main_img_path) }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename=main_img_path) }}"/>
    <meta property="og:url" content="{{ 'https://krcadinac.com' ~ params.paths.projects }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@krcadinac"/>
    <meta name="twitter:title" content="{{ 'Uroš Krčadinac → ' ~ params.menu_items[1].title }}"/>
    <meta name="twitter:description" content="{{ data.description|striptags }}"/>
    <meta name="twitter:image" content="{{ url_for('static', filename=main_img_path) }}"/>

{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/note_list.css') }}">

{% endblock %}

{% block breadcrumbs %}
    <mark>⟶</mark>
    <a href="{{ params.notes_data.path }}">{{ params.notes_data.name }}</a>
{% endblock %}

{% block lang_link %}{{ params.pages_captions.notes_lang_link }}{% endblock %}

{% block main_container %}

    <div class="main-container">

        <div id="header-linechart" class="linechart"></div>

        {% if data.error is defined %}

            <article class="article-main-description-error">
                {{ params.notes_data.error|safe }}
            </article>

        {% else %}

            <h1 class="title title-style-notes">
                {{ params.notes_data.name|safe }}
            </h1>

            <article class="article-main-description lead-style-notes">
                {{ params.notes_data.desc|safe }}
            </article>

        {% endif %}

        <div class="year-container">

            <div class="year-projects">

                {% for note in data.projects %}

                    {% set featured_class = " featured" if note.featured == 3 else "" %}
                    {% set subtitle = note.lead|striptags if note.featured == 3 else note.lead_short %}
                    {% set subtitle_class = "invisible" if note.featured < 3 else "" %}
                    {% set project_class = "project" ~ featured_class %}
                    {% set project_link = params.notes_data.path ~ note.id %}
                    {% set note_title = note.title.html|safe if note.title.html is defined else note.title.name %}
                    {% set note_title = note.title.name_project_list|safe if note.title.name_project_list is defined else note_title %}

                    <div class="{{ project_class }}">
                        <a href="{{ project_link }}">

                            <div class="square">
                                <div class="square-content project-title-in-list-style">
                                    <div>
                                        {{ note_title }}
                                    </div>
                                    <div class="date-subtitle">
                                        <div class="date project-date-in-list-style">
                                            {{ note.proper_date }}
                                        </div>
                                        <div class="subtitle project-subtitle-in-list-style {{ subtitle_class }}">
                                            {# —<br> #}
                                            {{ subtitle }}
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </a>
                    </div>

                {% endfor %}

            </div>

        </div>

    </div>
{% endblock %}

{% block jscript %}
    <script>
        (function () {

            baseUtility.baseSetup();
            chartUtility.setLangParams({{ params|tojson }});

            chartUtility.createLinechart(chartUtility.getLinechartParamsHeader());
            chartUtility.drawLineChartHeaderProjectList({{ data.timeline|safe }});
            {#chartUtility.drawProjectListSymbol("{{ data.pictoid }}");#}
            chartUtility.metaAnimation("{{ data.pictoid }}");

            window.onresize = function () {
                baseUtility.resetMenu();
                baseUtility.baseSetup();
                chartUtility.setLangParams({{ params|tojson }});
            };

        }());
    </script>
{% endblock %}