{% extends "generic_page.html" %}

{% block title %} → {{ page.title.name|safe }}{% endblock %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/page.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/default-skin.css') }}">

    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/photoswipe.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/photoswipe-ui-default.min.js') }}"></script>

{% endblock %}

{% block breadcrumbs %}
    <mark>⟶</mark>
    <a href="{{ data.link }}">{{ data.title }}</a>
{% endblock %}

{% block lang_link %}{{ data.langlink }}{% endblock %}

{% block main_container %}

    <div class="main-container">

        <div id="header-linechart" class="linechart" title="{{ page.linechart_tooltip }}"></div>

        <h1 class="title title-style">
            {{ page.title.name|safe }}
        </h1>

        <article class="article-main-description lead-style">
            {{ page.lead|safe }}
        </article>

        {% for d in page.data %}

            {% if loop.index != 1 %}
                <div class="break-line-container">
                    <div class="break-line dashed-top"></div>
                </div>
            {% endif %}

            {% set suffix = 1 + (loop.index % 2) if page.layout == 1 else 2 - (loop.index % 2) %}
            {% set cont_class = "section-container section-container-grid-areas" ~ suffix %}

            <div id="{{ d.id }}" class="{{ cont_class }}">

                <div class="image-column">
                    {% if d.images is defined %}
                        <div class="section-image">
                            {% for img in d.images %}
                                <div class="image">
                                    <img src="{{ url_for('static', filename=img.path) }}">
                                    {% if img.name is defined %}
                                        <div class="caption page-image-caption-style">{{ img.name|safe }}</div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="section-list interface-page-li-style">
                        {{ d.list|safe }}
                    </div>
                    {% set i = loop.index - 1 %}
                    {% if data.projects is defined and data.projects[i] is defined and data.projects[i] != 0 %}
                        <div class="section-projects">

                            {% if d.images is defined %}
                                <div class="project-title interface-heading-style">
                                    {{ params.menu_items[1].title }}
                                </div>
                            {% endif %}

                            <div class="section-projects-list">
                                {% for project in data.projects[i] %}
                                    {% set project_link = params.menu_items[1].link ~ "/" ~ project.id %}
                                    {% set thumb_path = "media/projects/" ~ project.id ~ "/"  ~ project.id ~ "-main-thumb.jpg" %}
                                    {% set project_title = project.title.html|safe if project.title.html is defined else project.title.name %}
                                    <div class="project">
                                        <a href="{{ project_link }}">
                                            <div class="overburn-container">
                                                <img src="{{ url_for('static', filename=thumb_path) }}"
                                                     itemprop="thumbnail" alt="">
                                                <div class="overburn"></div>
                                            </div>
                                            <div class="project-name project-name-in-list-style">
                                                {{ project_title }}
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                </div>


                <div class="text-column">
                    {% if d.title != 0 %}
                        <h2 class="section-heading section-title-style">
                            {{ d.title|safe }}
                        </h2>
                    {% endif %}
                    <article class="section-text body-style">
                        {{ d.text|safe }}
                    </article>
                </div>

            </div>

        {% endfor %}


        {#        <div class="break-line-container">#}
        {#            <div class="break-line dashed-right"></div>#}
        {#        </div>#}
        {#        <div class="section-container section-container-grid-areas2">#}
        {##}
        {#            <div class="section-image">#}
        {#                <img src="{{ url_for('static', filename=page.data.img2) }}">#}
        {#            </div>#}
        {#            <h2 class="section-heading section-title-style">#}
        {#                {{ page.data.title2|safe }}#}
        {#            </h2>#}
        {#            <article class="section-text body-style">#}
        {#                {{ page.data.text2|safe }}#}
        {#            </article>#}
        {##}
        {#            <div class="project-title interface-heading-style">#}
        {#                {{ params.menu_items[1].title }}#}
        {#            </div>#}
        {#            <div class="section-projects">#}
        {#                {% for project in data.prose %}#}
        {#                    {% set project_link = params.menu_items[1].link ~ "/" ~ project.id %}#}
        {#                    {% set thumb_path = "media/projects/" ~ project.id ~ "/"  ~ project.id ~ "-main-thumb.jpg" %}#}
        {#                    {% set project_title = project.title.html|safe if project.title.html is defined else project.title.name %}#}
        {#                    <div class="project">#}
        {#                        <a href="{{ project_link }}">#}
        {#                            <img src="{{ url_for('static', filename=thumb_path) }}" itemprop="thumbnail" alt="">#}
        {#                            <div class="project-name project-name-in-list-style">#}
        {#                                {{ project_title }}#}
        {#                            </div>#}
        {#                        </a>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {##}
        {#        </div>#}
        {##}
        {#        <div class="break-line-container">#}
        {#            <div class="break-line dashed-right"></div>#}
        {#        </div>#}
        {#        <div id="research" class="section-container section-container-grid-areas1">#}
        {##}
        {#            <div class="section-image">#}
        {#                <img src="{{ url_for('static', filename=page.data.img3) }}">#}
        {#            </div>#}
        {#            <h2 class="section-heading section-title-style">#}
        {#                {{ page.data.title3|safe }}#}
        {#            </h2>#}
        {#            <article class="section-text body-style">#}
        {#                {{ page.data.text3|safe }}#}
        {#            </article>#}
        {##}
        {#            <div class="project-title interface-heading-style">#}
        {#                {{ params.menu_items[1].title }}#}
        {#            </div>#}
        {#            <div class="section-projects">#}
        {#                {% for project in data.research %}#}
        {#                    {% set project_link = params.menu_items[1].link ~ "/" ~ project.id %}#}
        {#                    {% set thumb_path = "media/projects/" ~ project.id ~ "/"  ~ project.id ~ "-main-thumb.jpg" %}#}
        {#                    {% set project_title = project.title.html|safe if project.title.html is defined else project.title.name %}#}
        {#                    <div class="project">#}
        {#                        <a href="{{ project_link }}">#}
        {#                            <img src="{{ url_for('static', filename=thumb_path) }}" itemprop="thumbnail" alt="">#}
        {#                            <div class="project-name project-name-in-list-style">#}
        {#                                {{ project_title }}#}
        {#                            </div>#}
        {#                        </a>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {#            </div>#}
        {##}
        {#        </div>#}
        {##}
        {#        <div class="break-line-container">#}
        {#            <div class="break-line dashed-right"></div>#}
        {#        </div>#}
        {#        <div class="section-container section-container-grid-areas2">#}
        {##}
        {#            <div class="section-image">#}
        {#                <img src="{{ url_for('static', filename=page.data.img4) }}">#}
        {#            </div>#}
        {#            <h2 class="section-heading section-title-style">#}
        {#                {{ page.data.title4|safe }}#}
        {#            </h2>#}
        {#            <article class="section-text body-style">#}
        {#                {{ page.data.text4|safe }}#}
        {#            </article>#}
        {##}
        {#        </div>#}

    </div>

{% endblock %}

{% block jscript %}
    <script>
        (function () {

            chartUtility.setPeriodicalAnimation();
            chartUtility.createLinechart(chartUtility.getLinechartParamsHeader());
            chartUtility.drawLineChartHeaderPage({{ page.timeline|safe }});

        }());
    </script>
{% endblock %}
