{% extends "generic_page.html" %}

{% block title %} → {{ project.title.name }}{% endblock %}

{% block head %}

    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/photoswipe.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/default-skin.css') }}">

    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/photoswipe.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/lib/photoswipe-ui-default.min.js') }}"></script>

    {% if project.featured_js is defined %}
        {% set js_path = "js/ext/" ~ project.featured_js ~ ".js" %}
        <script src="{{ url_for('static', filename=js_path) }}"></script>
    {% endif %}

{% endblock %}

{% block breadcrumbs %}
    {% set projects_path = params.paths.projects %}
    {% set this_project_path = projects_path ~ project.id %}
    {% set this_project_title = project.title.short if project.title.short is defined else project.title.name %}
    <mark>⟶</mark>
    <a href="{{ projects_path }}">{{ params.menu_items[1].title }}</a>
    <mark>⟶</mark>
    <a href="{{ this_project_path }}">{{ this_project_title }}</a>
{% endblock %}

{% block lang_link %}{{ params.project_captions.lang_link ~ project.id }}{% endblock %}

{% block main_container %}

    <div class="main-container">

        <div title="{{ params.tooltip.linechart }}" id="header-linechart" class="linechart"></div>

        <div class="project-categories project-categories-style">
            {{ params.project_captions.categories_title }}
        </div>
        <div class="project-pictogram-list"></div>

        {#        <div class="down-arrow-container">#}
        {#            <svg id="down-arrow-svg" x="0px" y="0px" width="16px" height="131px">#}
        {#                <g>#}
        {#                    <line x1="8" y1="121.3" x2="8" y2="5"></line>#}
        {#                    <polygon points="14.5,122 13.4,120.9 8,126.7 2.6,120.9 1.5,122 8,129"></polygon>#}
        {#                </g>#}
        {#            </svg>#}
        {#        </div>#}

        <div class="project-title title-style">
            {% set title = project.title.html if project.title.html is defined else project.title.name %}
            {{ title|safe }}
        </div>

        <div class="article-main-description lead-project-style">
            {{ project.lead|safe }}
        </div>

        <div class="image-row">
            {% if project.featured_video is defined %}
                {{ project.featured_video|safe }}
            {% elif project.featured_js is defined %}
                <svg id="featured-svg" preserveAspectRatio="xMidYMin meet"></svg>
            {% else %}
                {% set main_img_path = "media/projects/" ~ project.id ~ "/" ~ project.id ~ "-main.jpg" %}
                <img src="{{ url_for('static', filename=main_img_path) }}">
                <!-- <div class="image-underline"></div> -->
            {% endif %}
        </div>

        <div class="column-container">

            <div class="column-1">

                <article class="article-text body-style">
                    {{ project.html|safe }}
                </article>

                <div class="polar-chart">
                    <svg id="polar-chart-svg" preserveAspectRatio="xMidYMin meet"></svg>
                </div>

            </div>

            <div class="project-information">

                {% if project.goto is defined %}
                    <a href="{{ project.goto.link }}" target="_blank">
                        <div class="goto-button goto-button-style">
                            {{ project.goto.label }}
                        </div>
                    </a>
                {% endif %}

                <div class="interface-heading-article-condensed interface-heading-style no-padding-top">
                    {{ params.project_captions.role }}
                </div>
                <div class="interface-text-style">
                    {% for role in project.role %}
                        {% set href = params.paths.projects ~ params.paths.role ~ role.id %}
                        {% set slash = " / " if loop.index != project.role|length else "" %}
                        <a href="{{ href }}">{{ role.name }}</a>{{ slash }}
                    {% endfor %}
                </div>

                <div class="interface-heading-article-condensed interface-heading-style">{{ params.project_captions.medium }}</div>
                <div class="interface-text-style">
                    {% for medium in project.medium %}
                        {% set href = params.paths.projects ~ params.paths.medium ~ medium.id %}
                        {% set slash = " / " if loop.index != project.medium|length else "" %}
                        <a href="{{ href }}">{{ medium.name }}</a>{{ slash }}
                    {% endfor %}
                </div>

                <div class="interface-heading-article-condensed interface-heading-style">{{ params.project_captions.categories }}</div>
                <div class="interface-text-style">
                    {% for tag in project.category %}
                        {% set href = params.paths.projects ~ params.paths.category ~ tag.id %}
                        {% set slash = " / " if loop.index != project.category|length else "" %}
                        <a href="{{ href }}">{{ tag.name }}</a>{{ slash }}
                    {% endfor %}
                </div>

                {% if project.team is defined %}
                    <div class="interface-heading-article-condensed interface-heading-style">{{ params.project_captions.collaborators }}</div>
                    <div class="interface-text-style">
                        {% for human in project.team %}
                            {% set slash = " / " if loop.index != project.team|length else "" %}
                            {% if human.link is defined %}
                                <a href="{{ human.link }}" target="_blank">{{ human.name }}</a>
                            {% else %}
                                <span>{{ human.name }}</span>
                            {% endif %}
                            {{ slash }}
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="thumbs">
                    <div class="gallery" itemscope itemtype="http://schema.org/ImageGallery">
                        {% for d in project.img_data %}
                            {% set i = loop.index - 1 %}
                            {% set x = "0" if i < 10 else "" %}
                            {% set thumb_path = "media/projects/" ~ project.id ~ "/thumbs/"  ~ project.id ~ "-thumb" ~ x ~ i ~ ".jpg" %}
                            {% set img_path = "media/projects/" ~ project.id ~ "/img/"  ~ project.id ~ x ~ i ~ ".jpg" %}
                            {% set show = "" if i < project.img_to_show else "hidden" %}
                            <figure class="{{ show ~ ' overburn-container' }}" itemprop="associatedMedia" itemscope
                                    itemtype="http://schema.org/ImageObject"
                                    title="{{ params.project_captions.gallery_tooltip.start }} — {{ project.img_data|length }} {{ params.project_captions.gallery_tooltip.end }}">
                                <a href="{{ url_for('static', filename=img_path) }}" data-size="{{ d.size }}"
                                   itemprop="contentUrl" data-index="{{ i }}" caption="{{ d.caption }}">
                                    {% if i < project.img_to_show %}
                                        <img src="{{ url_for('static', filename=thumb_path) }}" itemprop="thumbnail"
                                             alt=""
                                             title="{{ params.project_captions.gallery_tooltip.start }} → {{ project.img_data|length }} {{ params.project_captions.gallery_tooltip.end }}">
                                        <div class="overburn"></div>
                                    {% endif %}
                                </a>
                            </figure>
                        {% endfor %}
                        <div class="lightbox-rect goto-button-style">
                            {{ params.project_captions.gallery_tooltip.start }}<br>
                            ({{ project.img_data|length }} {{ params.project_captions.gallery_tooltip.end }})
                        </div>
                    </div>
                </div>

                {% if project.publications is defined %}
                    <div class="interface-heading-article interface-heading-style">{{ params.project_captions.publications }}</div>
                    <div class="section-list interface-page-li-style">
                        <ul>
                            {% for p in project.publications %}
                                {% for e in p.pubs %}
                                    <li>
                                        <span class="year interface-subheading-style">{{ p.year }}</span>
                                        <span class='page-list-item-style'>
                                            {% if e.link is defined %}
                                                {% set lnkd = e.linked if e.linked is defined else "Link" %}
                                                <span class='italic-style'>
                                                    <a href='{{ e.link }}' target='_blank'>{{ lnkd }}
                                                    </a></span>{{ ", " }}
                                            {% endif %}
                                            {{ e.name|safe }}
                                        </span>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div id="presentations"
                     class="interface-heading-article interface-heading-style">{{ project.presentation_title }}</div>
                <div class="section-list interface-page-li-style">
                    <ul>
                        {% for p in project.presentations %}
                            {% for e in p.events %}
                                <li>
                                    <span class="year interface-subheading-style">{{ p.year }}</span>
                                    <span class='item page-list-item-style'>
                                        {% if e.link is defined %}
                                            {% set lnkd = e.linked if e.linked is defined else "Link" %}
                                            <span class='italic-style'>
                                                <a href='{{ e.link }}' target='_blank'>{{ lnkd }}</a></span>{{ ", " }}
                                        {% endif %}
                                        {{ e.name|safe }}
                                    </span>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>

                {% if project.awards is defined %}
                    <div class="interface-heading-article interface-heading-style">{{ params.project_captions.awards }}</div>
                    <div class="section-list interface-page-li-style">
                        <ul>
                            {% for p in project.awards %}
                                {% for e in p.pubs %}
                                    <li>
                                        <span class="year interface-subheading-style">{{ p.year }}</span>
                                        <span class='item page-list-item-style'>
                                            {% if e.link is defined %}
                                                {% set lnkd = e.linked if e.linked is defined else "Link" %}
                                                <span class='italic-style'>
                                                <a href='{{ e.link }}' target='_blank'>{{ lnkd }}</a></span>{{ ", " }}
                                            {% endif %}
                                            {{ e.name|safe }}
                                        </span>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                {% if project.press is defined %}
                    <div class="interface-heading-article interface-heading-style">{{ params.project_captions.press }}</div>
                    <div class="section-list interface-page-li-style">
                        <ul>
                            {% for p in project.press %}
                                {% for e in p.events %}
                                    <li>
                                        <span class="year interface-subheading-style">{{ p.year }}</span>
                                        <span class='item page-list-item-style'>
                                            {% if e.link is defined %}
                                                {% set lnkd = e.linked if e.linked is defined else "Link" %}
                                                <span class='italic-style'>
                                                <a href='{{ e.link }}' target='_blank'>{{ lnkd }}</a></span>{{ ", " }}
                                            {% endif %}
                                            {{ e.name|safe }}
                                        </span>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            </div>

        </div>

    </div>

{% endblock %}

{% block lightbox_section %}

    <!-- PhotoSwipe Markup -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                </button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                </button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscript %}
    <script>
        (function () {

            chartUtility.createProjectPictolist({{ project.category|safe }});
            chartUtility.createLinechart(chartUtility.getLinechartParamsHeader({{ project.date|safe }}));
            chartUtility.drawLineChartHeader({{ project.presentations|safe }});
            chartUtility.setPeriodicalAnimation();
            chartUtility.drawPolarChart({{ project.ranks|safe }});
            baseUtility.lightboxSetup();

        }());
    </script>
{% endblock %}