{% extends "generic_page.html" %}

{% block title %} → {{ params.tooltip.projects_index }}{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_list.css') }}">
{% endblock %}

{% block breadcrumbs %}
    {% set projects_path = params.paths.base %}
    <mark>⟶</mark>
    <a href="{{ projects_path }}">{{ params.menu_items[1].title }}</a>
{% endblock %}

{% block lang_link %}{{ params.project_captions.lang_link }}{% endblock %}

{% block main_container %}

    <div class="main-container">

        <div id="header-linechart" class="linechart"></div>

        <div class="list-heading">
            <div class="symbol"></div>
            <div class="title">

{#                <div class="criteria">All projects in category —</div>#}
{#                <div class="name">Interactive Art + Design</div>#}

{#                <div class="criteria">Role —</div>#}
{#                <div class="name">Writer</div>#}

                <div class="criteria">Category —</div>
                <div class="name">All Categories</div>

                <div class="description">Roles — Artist / Designer / Publisher / Educator / Maker / Programmer / Researcher / Director</div>
            </div>
        </div>

        {% for p in projects %}

            <div class="year-container">

                <div class="year-title dashed-top">{{ p.year }}</div>
                <div class="year-projects">

                    {% for project in p.projects %}

                        {% set featured_class = " featured" if project.featured == 3 else "" %}
                        {% set project_class = "project" ~ featured_class %}
                        {% set project_link = params.menu_items[1].link ~ "/" ~ project.id %}
                        {% set thumb_path = "media/projects/" ~ project.id ~ "/"  ~ project.id ~ "-main-thumb.jpg" %}
                        {% set project_title = project.title.html|safe if project.title.html is defined else project.title.name %}
                        {% set project_title = project.title.name_project_list|safe if project.title.name_project_list is defined else project_title %}

                        <div class="{{ project_class }}" onclick="location.href='{{ project_link }}';">
                            <img src="{{ url_for('static', filename=thumb_path) }}" itemprop="thumbnail" alt="">
                            <div class="project-name">
                                <a href="#">{{ project_title }}</a>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            </div>

        {% endfor %}

    </div>
{% endblock %}

{% block jscript %}
    <script>
        (function () {

            chartUtility.setPeriodicalAnimation();
            chartUtility.createLinechart(chartUtility.getLinechartParamsHeader());
            chartUtility.drawLineChartHeaderProjectList({{ data|safe }});
            chartUtility.drawProjectListSymbol();

            {#chartUtility.createProjectPictolist({{ project.category|safe }});#}
            {#chartUtility.createLinechart(chartUtility.getLinechartParamsHeader({{ project.date|safe }}));#}
            {#chartUtility.drawLineChartHeader({{ project.presentations|safe }});#}
            {#chartUtility.drawPolarChart({{ project.ranks|safe }});#}
            {#baseUtility.lightboxSetup();#}

        }());
    </script>
{% endblock %}