{% extends "generic_page.html" %}

{% block title %} → {{ params.tooltip.projects_index_general }}{% endblock %}

{% block head %}

    {{ super() }}

    <meta property="og:title" content="{{ 'Uroš Krčadinac → ' ~ params.menu_items[1].title }}">
    <meta property="og:description" content="{{ data.description|striptags }}">
    {% set main_img_path = "media/pages/krcadinac_home_image.jpg" %}
    <meta property="og:image" content="{{ url_for('static', filename=main_img_path) }}">
    <meta property="og:image:secure_url" content="{{ url_for('static', filename=main_img_path) }}" />
    <meta property="og:url" content="{{ 'https://krcadinac.com' ~ params.paths.projects }}">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@krcadinac" />
    <meta name="twitter:title" content="{{ 'Uroš Krčadinac → ' ~ params.menu_items[1].title }}" />
    <meta name="twitter:description" content="{{ data.description|striptags }}" />
    <meta name="twitter:image" content="{{ url_for('static', filename=main_img_path) }}" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/project_list.css') }}">

{% endblock %}

{% block breadcrumbs %}
    {% set projects_path = params.paths.projects %}
    <mark>⟶</mark>
    <a href="{{ projects_path }}">{{ params.menu_items[1].title }}</a>
{% endblock %}

{% block lang_link %}{{ params.project_captions.lang_link ~ data.lang_link_path }}{% endblock %}

{% block main_container %}

    <div class="main-container">

        <div id="header-linechart" class="linechart"></div>

        <div class="list-heading">
            <div class="symbol"></div>
            <div class="title prj-list-style">
                <div class="criteria">{{ data.tag_title|safe }} —</div>
                <div class="name">{{ data.name_title|safe }}</div>
                <div class="description">{{ data.description|safe }}</div>
            </div>
        </div>

        {% for p in projects %}

            <div class="year-container">

                <div class="year-title dashed-top interface-year-style">{{ p.year }}</div>
                <div class="year-projects">

                    {% for project in p.projects %}

                        {% set featured_class = " featured" if project.featured == 3 else "" %}
                        {% set project_class = "project" ~ featured_class %}
                        {% set project_link = params.menu_items[1].link ~ "/" ~ project.id %}
                        {% set thumb_path = "media/projects/" ~ project.id ~ "/"  ~ project.id ~ "-main-thumb.jpg" %}
                        {% set project_title = project.title.html|safe if project.title.html is defined else project.title.name %}
                        {% set project_title = project.title.name_project_list|safe if project.title.name_project_list is defined else project_title %}

                        <div class="{{ project_class }}">
                            <a href="{{ project_link }}">

                                <div class="overburn-container">
                                    <img src="{{ url_for('static', filename=thumb_path) }}" itemprop="thumbnail" alt="">
                                    <div class="overburn"></div>
                                </div>

                                <div class="project-name project-name-in-list-style">
                                    {{ project_title }}
                                </div>

                            </a>
                        </div>

                    {% endfor %}

                </div>

            </div>

        {% endfor %}

    </div>
{% endblock %}

{% block jscript %}
    <script>
        (function () {

            {#chartUtility.setPeriodicalAnimation();#}
            chartUtility.createLinechart(chartUtility.getLinechartParamsHeader());
            chartUtility.drawLineChartHeaderProjectList({{ data.timeline|safe }});
            chartUtility.drawProjectListSymbol("{{ data.pictoid }}");
            chartUtility.metaAnimation("{{ data.pictoid }}");

        }());
    </script>
{% endblock %}