:root {
    --suncolor: #FFB901;
    --darkcolor: #1D1D1B;
}

#js-cont svg path {
    fill: none;
    stroke: var(--darkcolor);
    stroke-width: 4;
    stroke-linecap: round;
    stroke-linejoin: round;
}