{% extends "en/home.html" %}

{% block title %} ← digitalni umetnik, programer, autor i edukator{% endblock %}

{% block lang %}
    <span id="eng" class="lang-li"><a href="../work/">Eng</a></span>
    <span id="nas" class="lang-li"><span>Naš</span></span>
{% endblock %}

{% block menu %}
    <div class="menu-title">Meni</div>
    <ul>
        <li><a href="#">Početna</a></li>
        <li><a href="#">Projekti</a></li>
        <li><a href="#">Pisanje</a></li>
        <li><a href="#">Edukacija</a></li>
        <li><a href="#">Nastupi</a></li>
        <li><a href="#">Mediji</a></li>
        <li><a href="#">Bio</a></li>
    </ul>
    <div class="menu-title lang">Jezik</div>
{% endblock %}

{% block menu_lang %}
    <ul>
        <li><a href="../work/">Eng</a></li>
        <li><span>Naš</span></li>
    </ul>
{% endblock %}

{% block content %}

    {{ super() }}

    {% block index_bio %}
        <a href="#">Uroš Krčadinac</a> (rođ. 1984) je digitalni umetnik,<br class="bio-break">
        programer, autor i edukator koji <span id="creates-verb">kreira</span><br class="bio-break">
        <span id="creates-what">transdisciplinarne projekte</span>.
    {% endblock %}

{% endblock %}